@function sum($list) {
  $result: 0;
  
  @each $item in $list {
    $result: $result + $item;
  }
  
  @return $result;
}

@function mixAll($list1, $list2, $mixPercentages) {
  $result: ();
  $merged: zip($list1, $list2, $mixPercentages);

  
  @each $item in $merged {
    $result: append($result, mix(nth($item, 1), nth($item, 2), nth($item, 3)));
  }
  
  @return $result;
}

@function prepend($list, $value) {
    @return join($value, $list);
}

@function toHslString($color, $addAlpha: false) {
    $h: hue($color);
    $s: saturation($color);
    $l: lightness($color);
    $a: alpha($color);

    @return unquote("hsl" + if($addAlpha, "a", "") + "(" + $h/1deg + ", " + $s + ", " + $l + if($addAlpha, ", " + $a, "") + ")");
}

@function toRgbString($color, $addAlpha: false) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $a: alpha($color);

    @return unquote("rgb" + if($addAlpha, "a", "") + "("  + $r + ", " + $g + ", " + $b + if($addAlpha, ", " + $a, "") + ")");
}

//photoGrid means we're putting photos but not overlapping
$homepageLeftColMinWidth: 24em;
$upcomingHeight: 13em;
$fixedWidthHomepageLeftCol: false;

$navActiveTextColor: hsl(0,0%,97%);
$navInactiveTextColors: hsl(13,2%,16%), hsl(0,0%,16%), hsl(0,0%,20%), hsl(30,10%,65%), hsl(30,10%,60%), hsl(0,0%,58%);

$logoStartColor: hsl(0,0, 95%);
$logoEndColor: hsl(0, 0, lightness(nth($navInactiveTextColors, 1)));

$logoStartBackground: rgba(255, 255, 255, 0); //if($flat, transparent, unquote("hsla(0,0%,100%, 0)"));
$logoEndBackground: nth($colors, 1);

$outerPadding: 30px;

$logoStartTop: 3em;
$logoStartWidth: 211px;
$logoStartHeight: $logoStartWidth/3.2558;
$logoEndWidth: 140px;
$logoEndHeight: $logoEndWidth/3.2558;

$objectiveBgs: transparent;


// The ideal width for each "flag" in our top nav.
// Will be converted to percentages so that the 
// full nav fills the available space nicely.
// Doesn't include the calendar icon, which is in px.
$flagWidths: (210px 155px 215px 185px 135px);
$totalFlagsWidth: sum($flagWidths);
$calendarFlagWidth: 90px;
$navMaxWidth: $totalFlagsWidth + $calendarFlagWidth + 100px;
$constrainNavWidth: false;