@import "cover_base_4";
@import "fonts/stylesheet";

//########### RESET AND NORMALIZE (ISH) ################
* {
  margin: 0;
  padding: 0;
}


//############ ELMENT STYLES #################

html {
  color: $textColor;
}

body {
  font-family: $bodyFont;
  font-weight: 300;
}

p {
    max-width:35em;
    font-size: 1.25em;
    @if($bodyFont=='franklin-gothic-urw') {
      font-size: 1.29em;
    }
}

h1, h2, h3, h4, h5 { 
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-family: $headingFont;
}

h2, .h2 {
  font-size: 1.75em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.4em;
  letter-spacing: -.02em;
}

h5, .h5 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.2em;
}

p {
}

a {
  color: inherit;
}

.first { background-color: nth($colors, 1); }
.second { background-color: nth($colors, 2); }
.third { background-color: nth($colors, 3); }
.fourth { background-color: nth($colors, 4);  }
.fifth { background-color: nth($colors, 5); }
.sixth { background-color: nth($colors, 6); }

.bg {
  top:0;
  bottom:0;
  left: 0;
  right:0;
  position: fixed;
  background-size:cover;
  background-repeat:no-repeat;

  //if flat, but it has an image in it, show that
  .img {
    @if($fixedWidthHomepageLeftCol) {
      left: $homepageLeftColMinWidth;
    }
    @else {
      min-width:70%;
    }
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    right: 0;
  }
  .coverup {
    @if($fixedWidthHomepageLeftCol) {
      width: $homepageLeftColMinWidth;
    }
    @else {
      width: 30%;
      min-width: $homepageLeftColMinWidth;
    }
    top: 0%;
    bottom: 12em;
    height: 100%;
    z-index:3;
    background-color: white;
    //box-shadow: 0 0 2px 1px hsla(0,0,0,.8);
    position: absolute;

    .mask {
      background-color: darken(desaturate(nth($colors, 1), 3.8%), 2.3%);        
      position: absolute;
      top: 0;
      bottom:0;
      right: 0;
    }
  }
}

header {
  top: 0;
  background-color: transparent;
  z-index: 100;
  width: 100%;
  position: fixed;
  bottom: $upcomingHeight;

  .info {
    @if($fixedWidthHomepageLeftCol) {
      width: $homepageLeftColMinWidth;
    }
    @else {
      width: 30%;
      min-width: $homepageLeftColMinWidth;
    }
    position: absolute;
  }

  .tagline {
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: .2px;
    -webkit-filter: $taglineStartFilter;
    padding: 0 if($photoGrid, $outerPadding+2px, $outerPadding);
    box-sizing: border-box;
    margin-top: $logoStartHeight*1.4;
    @if($bodyFont=='franklin-gothic-urw') {
      font-family: $headingFont;
    }
    @if($photoGrid) {
      color: hsl(0,0, 92%);
    }
    @else {
      width: 590px;
    }
  }

  .logo {
    overflow: auto;
    a {
      position: fixed;
      top: $logoStartTop;
      padding:17px if($photoGrid, $outerPadding+2px, $outerPadding) 0; //+2px as an optical adjustment
      box-sizing: content-box;
      img {
        width:100%;
      }
    }
  }

  .bgHolder {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
    opacity: 0;
    background-color: nth($colors, 1);
  }

  nav {
    @if($constrainNavWidth==true) {
      max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
      width: 200%;
    }    
    @else {
      right: $outerPadding;
      left:0;
      position: fixed;
      z-index: -1;
    }

    @if($photoGrid) {
      > ul {
        position: fixed;
        left: 0px;
        margin-left: $logoEndWidth + 2*$outerPadding;
      }
    }
    
  }
  nav > ul {
    list-style-type:none;
    color: white;
    min-width: $totalFlagsWidth + $calendarFlagWidth;
    @if($constrainNavWidth==false) {
      right: $outerPadding;
    }
    @else {
      max-width: $navMaxWidth; 
      right: 0;    
    }
    z-index: 1;
    padding-right: $calendarFlagWidth;

    > li {
      float:left;
      height:80px;
      z-index:4;
      padding:$outerPadding*.45 $outerPadding*.6666;

      &.first {
        width: (nth($flagWidths, 1)/$totalFlagsWidth)*100%;
      }
      &.second {
        width: (nth($flagWidths, 2)/$totalFlagsWidth)*100%;
      }
      &.third {
        width: (nth($flagWidths, 3)/$totalFlagsWidth)*100%;
      }
      &.fourth {
        width: (nth($flagWidths, 4)/$totalFlagsWidth)*100%;
      }
      &.fifth {
        width: (nth($flagWidths, 5)/$totalFlagsWidth)*100%;
      }

      &.calendar {
        width: $calendarFlagWidth;
        text-indent: -1000em;
        position: absolute;
        right:0;
        h2 {
          background-image: url(calendar.png);
          background-size:50px;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }

      @if($headingFont=='ff-meta-web-pro') {
        h2,.h3 {
          line-height: 1.2em;
          font-size: 1.45em;
          letter-spacing: .2px;
          position: relative;
          top:-1px;
        }
      }

    }

    @if($constrainNavWidth==false) {

      @media(min-width:$navMaxWidth + $logoEndWidth + 2*$outerPadding) {
        > li:not(:last-child) {
          margin-right:.75%;

          @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
              width: (nth($flagWidths, $i)/$totalFlagsWidth)*100% - .75%;
            }
          }
        }
      }

      @media(min-width:$navMaxWidth + $logoEndWidth + 2*$outerPadding + $outerPadding) {
        > li:not(:last-child) {
          margin-right:1%;

          @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
              width: (nth($flagWidths, $i)/$totalFlagsWidth)*100% - 1%;
            }
          }
        }
      }

      /* RESPONSIVE
      @media(min-width:$navMaxWidth + $logoEndWidth + 2*$outerPadding + $outerPadding + 20px) {
        padding-right: $calendarFlagWidth + 4px;

        > li {
          padding: $outerPadding*.45+2px $outerPadding*.6666+2px;
          height: 84px;

          &.calendar {
            width: $calendarFlagWidth + 4px;
          }

          ul {
            top: 84px;
          }
        }
      }*/
    }

    ul {
      list-style-type: none;
      margin-top:1em;
      color: $textColor;
      top: 80px;

      li {
        margin-bottom: .666em;
        line-height: 1.3em;
        font-size: 1.25em;
        @if($bodyFont=="franklin-gothic-urw") {
          font-size: 1.28em;
        }
      }
    }
  }
}

#upcoming {
  position: fixed;
  @if($photoGrid) {
    bottom: 0em;
    left:0;
    @if($fixedWidthHomepageLeftCol) {
      width: $homepageLeftColMinWidth;
    }
    @else {
      width: 30%;
      min-width: $homepageLeftColMinWidth;
    }
    height: $upcomingHeight;
    box-sizing: border-box;
    background-color: hsl(12,1%, 86%);
    color: hsl(17, 15%, 20%);
    //font-family: adelle;
    //font-family: krete;
    font-family: ff-meta-web-pro;
    padding: $outerPadding/1.333 $outerPadding*1.15 $outerPadding/1.375 $outerPadding*.85;
    letter-spacing: .2px;

    #upcoming-inner {
      height: 100%;
      box-sizing: border-box;
    }
  }
  @else {
    top:8%;
    right: 3%;  
    width:17em;
    color: white;
    background-color: rgba(0,0,0,.73);
    padding: $outerPadding/2.5 $outerPadding/2 $outerPadding/2.75;
  }

  z-index: 2;

  //from version 3.3
  #formWrapper {
    float: right;
    margin-top:-1.5em;
    input {
      float: none;
    }
    input[type=submit] {
      margin-left:.25em;
    }
  }

  .instructions {
    clear:both;
    padding-top:.25em;
    p {
      font-size:.95em;
      line-height: 1.15em;
    }
  }

  .title {
    margin-top:.5em;
    display: block;
    //font-weight: 400;
    //font-size: .95em;
    //font-style: italic;
    letter-spacing: 0px;
  }
  .event, .follow {
    border-top: 3px solid white;
    font-weight: 400;
    @if($photoGrid) {
      border-color: hsl(17, 15%, 20%);
    }
    padding:2px 1px 0;
    display: block;
  }

  .event {
    padding-bottom: 1.35em;
    line-height: 1.35em;
    position: relative;
    > span {
      padding-right: 65px;
      display: inline-block;
      //font-size: .95em;
    }
    h2::after {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: #888;
      content: 'icon';
      text-indent: -1000em;
      margin-top: -30px;
      margin-left:1em;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  .follow {
    input[type=email] {
      @if($fixedWidthHomepageLeftCol) {
        width: 170px;
      }
      @else {
        width: 180px;
        @media (max-width:1420px) {
          width: 170px;
        }
      }
      float: left;
      margin-top:.6em;
    }
    input[type=submit] {
      float: right;
      margin-top:.6em;
    }

    .twitter, .fb {
      width: 19px;
      background-image: url(img/twitter-hi.png);
      background-size: 20px auto;
      padding: 0 3px;
    }

    .fb {
      background-image: url(img/fb.png);
    }
    li {
      vertical-align: middle;
      position: relative;
      top:2px;
    }
  }
}

.objective {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
  padding: $outerPadding;

  &.revealing {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 1em;
  }

  > h2 {
    font-size: 2em;
    margin-top:-.6em;
    margin-bottom:2em;
  }

  .poweredby {
    .initiative {
      height:50px;
      width: 138px;
      img {
        height:50px;
        width: 138px;
        margin-top:-8px;
      }
    }
  }
}


.initiative {
  margin-bottom:2em;
  float:left;
  max-width:23em;
  margin-left:3em;

  &:nth-of-type(1) {
    margin-left:0em;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.hidden {
  display: none;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  color: rgba(0, 0, 0, 0) !important;
}
.scrollCue {
  position: fixed;
  bottom: 80px;
  left: 50%;
  background-image: url(scroll.png);
  width: 28px;
  height: 28px;
  margin-left: -14px;
  border-bottom: 4px solid;
  border-left: 4px solid;
  border-color: toRgbString(if($photoGrid, white, $textColor), true);
  -webkit-transform: rotate(-45deg);
  -webkit-animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 80px;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    bottom: 65px;
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    bottom: 80px;
    -webkit-animation-timing-function: ease-out;    
  }
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(data-stroke);
  position: absolute;
  -webkit-text-stroke: 3px #333;
  z-index: -1;
}
/* add a double stroke */
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.4em #778B37;
  left: 0;
  z-index: -2;
}

@media (max-width:$homepageLeftColMinWidth*2) {
  //shirnk all type
  html {
    font-size: .9em;
  }

  .bg .coverup, header, .info {
    width: 100% !important;
  }

  .tagline {
    margin-top: 125px !important;
  }

  .scrollCue {
    left: 50% !important;
  }

  #upcoming {
    min-height: 20%;
    width: 100%;
    input[type=email] {
    }
    /*.event:nth-of-type(2) {
      display: block !important;
      margin-right: 0;
    }*/
  }

  .bg .mask {
    top: 0% !important;
    bottom: $upcomingHeight;
  }
}

@media (max-width:$homepageLeftColMinWidth*2) and (min-width:690px) {
    #upcoming #formWrapper {
      margin-top: .5em;
      float: left;
    }

    .event {
      float: left;
      width: 48.5%;
      margin-right: 3%;
    }
    .follow {
      br {
        display: none;
      }
      float: left;
      width: 48.5%;
    }
}

@media (max-width:400px) {
  .logo a, .tagline {
    padding-left: 12px !important;
  }

  .logo a {
    width: 150px !important;
  }

  .tagline {
    margin-top: 90px !important;
    font-size: 1.5em !important;
  }
  #upcoming {
    padding: 10px;
    box-sizing: border-box;
    min-width: 0;

    .follow {
      br {
        display: none;
      }
    }
    #formWrapper {
      margin-top: .5em;
      float: left;
    }
  }
}

/* 
<div id="upcoming">
    <a class="event" href="" style="text-decoration:none;float: left;width: 24em;">
      <h2 class="h5 time"><!--Next Event, -->Tuesday 03/06, 6pm</h2>
      <strong class="title">What Designers Actually Do</strong>
      <span>A Workshop with Anne-Laure Fayard <i style="text-decoration:underline;">More info…</i></span>
    </a>
    <div class="follow" style="
    float: left;
    margin-left: 1em;
    width: 130px;
">
      <h2 class="h5" style="vertical-align:top;">Stay
In Touch</h2>
      <ul style="">
        <li style="margin-bottom: .8em;width: 61px;">Events Digest</li>
        <li style="margin-top: .55em;position: relative;vertical-align: top;" class="ir fb">Facebook</li>
        <li style="margin-left: .75em;margin-top: .65em;vertical-align: top;" class="ir twitter">Twitter</li>
    </ul></div>
  </div>
  */