@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

$outer-padding: 30px;

//########### RESET AND NORMALIZE (ISH) ################
* {
  margin: 0;
  padding: 0;
  font-family: 'KievitPro';
}


//############ ELMENT STYLES #################

html {
  color: white;
  background-image: url(img/events/914085_589631024424465_1530612378_o.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  min-height: 100%;
}

body {
  min-width: 790px;
  //max-width: 845px;
}


h1, h2 { 
  font-family: 'Klavika Bold';
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em;
}

p {
  font-size: 1.25em;
}

a {
  color: inherit;
}

//############ OUTER PADDING SITUATION ##########
header, .objective {
  padding-left: $outer-padding+5px;
  padding-right: $outer-padding+10px;
}


header {
  padding-top: $outer-padding/2;
  padding-bottom:$outer-padding/5;
  margin-bottom: $outer-padding/2;

  color: #111;
  background-color:rgba(255,255,255,.95);

  h1, .tagline {
    float: left;
  }

  .logo img {
    width: 140px;
    //-webkit-filter: drop-shadow(0 0 3px black);
  }
}

nav {  
  display: none;
}

.tagline {
  font-style: italic;
  display: block;
  max-width: 35em;
  font-size:1em;
  margin-left:2em;
  line-height: 1.3em;
  margin-top:2px;
}


.objective {
  margin: 0;
  padding-top: $outer-padding/2;
  margin-bottom: $outer-padding/2;
  min-height: 110px;
  width:100%;
  box-sizing: border-box;
  overflow: auto;

  &.start {
    width: 0;
    height: 0;
    padding:0;
  }

  &.show {
    &.first {
      background-color:#de481f;

      .initiative:last-child {
        width: 320px;
      }
    }
    &.second {
      background-color:#efb607;
    }
    &.third {
      background-color:#441863;
    }
    &.fourth {
      background-color: #138a2a;
    }
    &.fifth {
      background-color: #0a3b85;
    }
    &.sixth {
      background-color: black;
    }

    &.poweredby {
      color:#111;
      background-color:#fff;
      h2 {
        height:100%;
      }
      .initiative {
        height:50px;
        width: 138px;
        img {
          height:50px;
          width: 138px;
          margin-top:-8px;
        }
      }
    }

    }

  -webkit-transition: width 1s, height 1s;
}

  .objective h2 { 
    width: 250px;
    margin-right: 30px;
    float: left;
    margin-top:12px;
  }

  .initiative {
    float:left;
    padding-top:1em;
    width: 150px;
    margin-right: 20px;

    &:last-child {
      margin-right:0;
    }
  }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.hidden {
  display: none;
}