@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
a:link, a:visited {
	color: #57068c;
	text-decoration: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.hidden {
	display: none;
}
.ribbon {
	top: 0;
	position: fixed;
	background: url('../img/ribbon.png');
	background-repeat: repeat-x;
	height: 10px;
	width: 100%;
}
header .logo {
	float: left;
	width: 200px;
}
header {
	width: 1000px;
	margin: 40px auto;
}
header ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 700px;
	float: right;
	margin-top: 30px;
}
header ul li {
	float: left;
}
header ul li.bar {
	background: #666;
	color: #666;
	width: 2px;
	overflow: hidden;
	margin-top: 2px;
	opacity: 0.25;
}
header ul li a {
	color: #666 !important;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px 8px;
	margin: 0 5px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
header.inverse ul li a {
	color: #fff !important;
}
header:hover > ul li a {
  opacity: 0.4;
}
header:hover > ul li a:hover {
  opacity: 1.0;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}
header a.demodays:hover {
	color: #71cbf5 !important;
}
header a.hackdays:hover {
	color: #ffbf5c !important;
}

header a.circuit:hover {
	color: #c6db74 !important;
}
header a.startupseries:hover {
	color: #c7c7c7 !important;
}
header a.gamedays:hover {
	color: #f59093 !important;
}
header a.hacknights:hover {
	color: #918bc2 !important;
}
.logo img {
	width: 250px;
	float: right;
}
.banner {
	width: 330px;
	height: 170px;
	margin: 0 auto;
}
.text-banner {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	width: 1000px;
	margin: 70px auto 20px;
}
.banner-container {
	width: 100%;
	background-position: center middle !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	min-height: 460px;
	top: 0 !important;
	position: absolute;
	z-index: -100;
	color: white !important;
	text-shadow: 0px 1px 30px #5d5d5d;
}
.banner-container .banner {
	margin-top: 180px !important;
}
.banner-container .banner.white {
	color: white !important;
}
.powered {
	width: 400px;
	text-align: center;
	font-weight: 200;
	font-size: 20px;
	margin: 90px auto 0;
}
.powered img {
	height: 60px;
	margin-top: 15px;
}
.content {
	width: 1000px;
	margin: 350px auto 20px;
}
.outgoing {
	padding: 5px 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 700;
}
.outgoing a:link, .outgoing a:visited {
	color: #000000;
	border-bottom: 1px dashed #898989;
}
.content .big {
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 130%;
	text-align: center;
	margin-bottom: 30px;
}
.content .pop {
	color: #57068c;
}
.content .the-deal {
	font-size: 18px;
	font-weight: 200;
	line-height: 150%;
}
@media handheld, only screen and (max-width: 767px) {

	.content .big {
		font-size: 30px;	
	}
	.ribbon {
		background: url('/static/img/ribbon-mobile.png')
	}
}