@import "../base";

$headerAnimEnd: 350;
$navCascadeStart: 150;
$navCascadeEnd: $headerAnimEnd - 20;
$leftColOut: $navCascadeStart;

//$navCascadeStart + $navCascadeItemDelay*5 + $navCascadeDrop; must add up to $navCascadeEnd
$navCascadeItemDelay: 32; 
$navCascadeDrop: 20;

$onPanelPause: 85;
$interPanelDistance: 100;
$firstPanelExtraPause: 120;
$firstPanelUpStart: $navCascadeEnd - 165;
$firstPanelUpEnd: $firstPanelUpStart + $interPanelDistance;

@mixin ease($property, $easing, $value) {
   #{$property + "["+ $easing + "]"}: $value;
}

@function toHslString($color, $addAlpha: false) {
    $h: hue($color);
    $s: saturation($color);
    $l: lightness($color);
    $a: alpha($color);

    @return unquote("hsl" + if($addAlpha, "a", "") + "(" + $h/1deg + ", " + $s + ", " + $l + if($addAlpha, ", " + $a, "") + ")");
}

@function toRgbString($color, $addAlpha: false) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $a: alpha($color);

    @return unquote("rgb" + if($addAlpha, "a", "") + "("  + $r + ", " + $g + ", " + $b + if($addAlpha, ", " + $a, "") + ")");
}

@-skrollr-keyframes sectionStarter {
  #{$firstPanelUpStart} {
    top: 100%;
    position: fixed;
    margin-top: 0px;
  }

  #{$firstPanelUpEnd} {
    top: 0%;
    position: fixed;
    margin-top: $headerAnimEnd+"px";
  }

  #{$firstPanelUpEnd + 1} {
    position: static;
  }
}

#content {
  -skrollr-animation-name: sectionStarter;
}