@import "../base";

$onPanelPause: 85;
$interPanelDistance: 100;
$firstPanelExtraPause: 120;
$firstPanelUpStart: 165;
$firstPanelUpEnd: $firstPanelUpStart + $interPanelDistance;

@mixin ease($property, $easing, $value) {
   #{$property + "["+ $easing + "]"}: $value;
}

@function toHslString($color, $addAlpha: false) {
    $h: hue($color);
    $s: saturation($color);
    $l: lightness($color);
    $a: alpha($color);

    @return unquote("hsl" + if($addAlpha, "a", "") + "(" + $h/1deg + ", " + $s + ", " + $l + if($addAlpha, ", " + $a, "") + ")");
}

@function toRgbString($color, $addAlpha: false) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $a: alpha($color);

    @return unquote("rgb" + if($addAlpha, "a", "") + "("  + $r + ", " + $g + ", " + $b + if($addAlpha, ", " + $a, "") + ")");
}

$colorChangeStartDelay: 65;


@for $i from 1 through 6 {
    $animStartDelay: 20;
    @-skrollr-keyframes photo-#{$i} {
      //tell the sass compiler these vars will exist.
      $startKf: 0;
      $preShowStayKf: dummy;
      $showKf: dummy;
      $stayKf: dummy;
      $hideKf: dummy;
      $easing: if($i==2, swing5, linear);

      @if($i==1) {
        $showKf: 0;
        $hideKf: 370;
      } 
      @else {
        $preShowStayKf: $firstPanelUpStart + ($i - 2)*($interPanelDistance + $onPanelPause) + $firstPanelExtraPause;
        $showKf: $preShowStayKf + $interPanelDistance - if($i==2, $firstPanelExtraPause, 0);
        $stayKf: $showKf + $onPanelPause + 10 + if($i==2, $firstPanelExtraPause, 0);
        $hideKf: $stayKf + $interPanelDistance;
      }

      $direction: if($i%2==0, left, right);

      #{$startKf} {
        @include ease($direction, $easing, -100%);
        @include ease(top, $easing, 100%);
        @if($direction==left) {
          right: 60%;
        }
      }

      @if($i!=1) {
        #{$preShowStayKf} {
          dummy: true;
        }
      }

      #{$showKf} {
        @include ease($direction, $easing, 0%);
        @include ease(top, $easing, 0%);
        overflow: hidden;
      }

      #{$stayKf} {
        dummy: true;
      }

      #{$hideKf} {
        #{$direction}:-100%;
        top:100%;
        @if($direction==left) {
          right: 60%;
        }
      }
    }
    /*
    .bg:nth-of-type(#{$i + 1}) {
        -skrollr-animation-name: photo-#{$i};
    }*/
}