@function sum($list) {
  $result: 0;
  
  @each $item in $list {
    $result: $result + $item;
  }
  
  @return $result;
}

$textColor: if($flat, #333, white);
$initialBackgroundImage: if($flat, none, url(img/events/914085_589631024424465_1530612378_o.jpg));
$logoStartFilter: if($flat, none, drop-shadow(0 0 1px black) invert(0));
$logoEndFilter: if($flat, none, drop-shadow(0 0 0px black) invert(1));
$logoStartBackground: unquote("hsla(0,0%,100%, 0)"); //if($flat, transparent, unquote("hsla(0,0%,100%, 0)"));
$logoEndBackground: unquote("hsla(0,0%,100%, 1)"); //if($flat, transparent, unquote("hsla(0,0%,100%, 1)"));
$taglineStartFilter: if($flat, none, drop-shadow(0 0 1px black));

$outerPadding: 30px;

$logoStartTop: 25%;
$logoStartWidth: 280px;
$logoEndWidth: 140px;

// The ideal width for each "flag" in our top nav.
// Will be converted to percentages so that the 
// full nav fills the available space nicely.
$flagWidths: (210px 160px 220px 190px 150px 80px);
$totalFlagsWidth: sum($flagWidths);
$navMaxWidth: $totalFlagsWidth + 100px;

//$colors: #f38d94 #9189c2 #fec05d #c7df75 #75cbf5 black;
$colors: desaturate(#de481f, 8%) #E6B400 desaturate(#441863,10%) desaturate(#138a2a, 5%) desaturate(#0a3b85, 5%) black white;