@import "cover_base";

//########### RESET AND NORMALIZE (ISH) ################
* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue'; //Alternates: Adelle, Vista Slab
  font-weight: 200;
  letter-spacing: .47px;
}


//############ ELMENT STYLES #################

html {
  color: $textColor;
}

p {
    max-width:35em;
}

h1, h2, h3 { 
  font-family: 'Klavika Bold';
}

h2, .h2 {
  font-size: 1.75em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em;
}

p {
  font-size: 1.25em;
}

a {
  color: inherit;
}

.first { background-color: nth($colors, 1); }
.second { background-color: nth($colors, 2); }
.third { background-color: nth($colors, 3); }
.fourth { background-color: nth($colors, 4);  }
.fifth { background-color: nth($colors, 5); }
.sixth { background-color: nth($colors, 6); }

.bg {
  top:0;
  bottom:0;
  left: 0;
  right:0;
  position: fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-image: $initialBackgroundImage;
  -webkit-filter: saturate(10%);
  -webkit-filter: contrast(0.56);
}

header {
  position: fixed;
  top: 0;
  width:100%;
  background-color:rgba(255,255,255,1);
  z-index: 100;

  .tagline {
    position: fixed;
    font-weight:600;
    line-height: 1.4em;
    letter-spacing: .2px;
    -webkit-filter: $taglineStartFilter;
  }

  .logo a {
    padding:15px $outerPadding 0;
    position: fixed;
    top: 50%;
    box-sizing: content-box;
    height: 65px;
    img {
      width:100%;
    }
  }

  .bgHolder {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
    opacity: 0;
    background-color: nth($colors, 1);
  }

  nav > ul {
    list-style-type:none;
    color: white;
    left: $logoEndWidth + 2*$outerPadding;
    min-width: $totalFlagsWidth;
    max-width: $navMaxWidth;

    > li {
      float:left;
      height:80px;
      z-index:4;
      padding:$outerPadding*.45 $outerPadding*.6666;
      &.first {
        width: (nth($flagWidths, 1)/$totalFlagsWidth)*100%;
      }
      &.second {
        width: (nth($flagWidths, 2)/$totalFlagsWidth)*100%;
      }
      &.third {
        width: (nth($flagWidths, 3)/$totalFlagsWidth)*100%;
      }
      &.fourth {
        width: (nth($flagWidths, 4)/$totalFlagsWidth)*100%;
      }
      &.fifth {
        width: (nth($flagWidths, 5)/$totalFlagsWidth)*100%;
      }

      &.calendar {
        width: (nth($flagWidths, 6)/$totalFlagsWidth)*100%;
        text-indent: -1000em;
        background-image: url(calendar.png);
        background-size:50px;
        background-repeat: no-repeat;
        background-position: 20px 14px;
      }
    }

    ul {
      list-style-type: none;
      margin-top:1em;
      color: $textColor;
      li {
        margin-bottom: .666em;
        line-height: 1.3em;
        font-size: 1.25em;
      }
    }
  }
}

.objective {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: $outerPadding;

  &.revealing {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 1em;
  }

  > h2 {
    font-size: 2em;
    margin-top:-.6em;
    margin-bottom:2em;
  }

  .poweredby {
    .initiative {
      height:50px;
      width: 138px;
      img {
        height:50px;
        width: 138px;
        margin-top:-8px;
      }
    }
  }
}


.initiative {
  margin-bottom:2em;
  float:left;
  max-width:23em;
  margin-left:3em;

  &:nth-of-type(1) {
    margin-left:0em;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.hidden {
  display: none;
}

.scrollCue {
  position: fixed;
  bottom:2%;
  left: $outerPadding;
  background-image: url(scroll.png);
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(data-stroke);
  position: absolute;
  -webkit-text-stroke: 3px #333;
  z-index: -1;
}
/* add a double stroke */
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.4em #778B37;
  left: 0;
  z-index: -2;
}