@import "cover_base";

$headerAnimEnd: 500;
$navAnimation: "TOCUp"; //can be TOCUp or cascadeDown
$taglineOutEnd: if($navAnimation=="TOCUp", $headerAnimEnd/2, $headerAnimEnd);

$navCascadeStart: 480;
$navCascadeItemDelay: 15;
$navCascadeDrop: 30;

$navTOCUpStart: $headerAnimEnd/2;
$navTOCPause: 75;
$navTOCUpEnd: 800 + $navTOCPause;
$navTOCMiddle: ($navTOCUpStart + $navTOCUpEnd - $navTOCPause)/2;


$firstPanelUpStart: $navTOCUpEnd - 100;
$onPanelPause: 75;
$interPanelDistance: 75;
//below, the first panel gets extra distance between it and the nav
$firstPanelExtraDistance: 40; 



@mixin ease($property, $easing, $value) {
   #{$property + "["+ $easing + "]"}: $value;
}

@-skrollr-keyframes taglineOut {
    0 {
        @include ease(top, swing, $logoStartTop);
        @include ease(margin-top, sqrt, 130px);
        @include ease(left, sqrt, 30px);
        font-size: 2em;
        width: 590px;
    }

    #{$taglineOutEnd} {
        @include ease(left, sqrt, -590px);
    }
}

@-skrollr-keyframes headerBarDown {
    420 {
        @include ease(height, swing, 0px);
    }

    #{$headerAnimEnd} {
        @include ease(height, swing, 80px);
    }    
}

@-skrollr-keyframes logoResizeToTopLeft {
    0 {
        @include ease(top, sqrt, $logoStartTop);
        @include ease(filter, swing2, drop-shadow(0 0 4px black) invert(0));
        width: $logoStartWidth;
    }

    #{$headerAnimEnd} {
        @include ease(top, sqrt, 0%);
        @include ease(filter, swing2, drop-shadow(0 0 0px black) invert(1));
        width:$logoEndWidth;
    }
}

@for $i from 1 through 5 {
    @-skrollr-keyframes navCascadeDown-#{$i} {
        #{$navCascadeStart + $i*$navCascadeItemDelay} {
            @include ease(top, sqrt, -80px);
        }

        #{$navCascadeStart + $i*$navCascadeItemDelay + $navCascadeDrop} {
            @include ease(top, sqrt, 0px);
        }
    }

    @if($navAnimation=="cascadeDown") {
        nav > ul > li:nth-of-type(#{$i}) {
          -skrollr-animation-name: navCascadeDown-#{$i};
        }
    }

    @-skrollr-keyframes panel-#{$i}-in {
        0 {
            top: 100%;
            margin-top:0px;
        }

        #{$firstPanelUpStart + ($i - 1)*($interPanelDistance + $onPanelPause) + if($i!=0, $firstPanelExtraDistance, 0)} {
            blank: true;
        }

        #{$firstPanelUpStart + $firstPanelExtraDistance + $interPanelDistance + ($i - 1)*($interPanelDistance + $onPanelPause)} {
            top: 0%;
            margin-top:120px;
        }

        #{$firstPanelUpStart + $firstPanelExtraDistance  + $i*($interPanelDistance + $onPanelPause)} {
            blank: true;
        }
    }

    @-skrollr-keyframes panel-#{$i}-out {
        #{$firstPanelUpStart + $firstPanelExtraDistance + $i*($interPanelDistance + $onPanelPause) + $interPanelDistance} {
            top: -100%;
            margin-top:0px;
        }
    }

    .objective:nth-of-type(#{$i}) {
        z-index: $i;
        -skrollr-animation-name: panel-#{$i}-in;
        -skrollr-animation-name: panel-#{$i}-out;
    }

    nav ul ul:nth-of-type(#{$i}) {
        max-width: nth($flagWidths, $i) - ($outerPadding);
    }
}

@-skrollr-keyframes headerTOCLiftToTop {
    #{$navTOCMiddle} {
        top: $logoStartTop;
    }

    //pause between nav middle and nav middle + pause
    #{$navTOCMiddle+$navTOCPause} {
        dummy: true;
    }

    #{$navTOCUpEnd} {
        top:0%;
    }
}

@-skrollr-keyframes navTOCFadeIn {
    #{$navTOCUpStart} {
        @include ease(opacity, swing, 0);
    }

    #{$navTOCMiddle} {
        @include ease(opacity, swing, 1);
    }
}

@-skrollr-keyframes TOCRetractDetails {
    #{$firstPanelUpStart} {
        @include ease(top, swing4, 80px);
    }

    #{$firstPanelUpStart + $firstPanelExtraDistance + $interPanelDistance} {
        @include ease(top, swing4, -120px);
    }
}

//The first time we set the color
@-skrollr-keyframes TOCSetHeaderColor {
    #{$firstPanelUpStart} {
        opacity: 0;
    }

    #{$firstPanelUpStart + $firstPanelExtraDistance + $interPanelDistance} {
        opacity: 1;
    }
}

@-skrollr-keyframes logoResizeToTOCBar {
    0 {
        top: $logoStartTop;
        @include ease(padding-right, swing3, 0px);
        background-color: $logoStartBackground;
    }

    #{$navTOCMiddle} {
        @include ease(padding-right, swing3, $outerPadding);
        background-color: $logoEndBackground;
    }

    #{$navTOCMiddle + $navTOCPause} {
        dummy: true;
    }

    #{$navTOCUpEnd} {
        top: 0%;
    }
}

@-skrollr-keyframes logoRestyleToTOCBar {
    0 {
        @include ease(width, cubedroot, $logoStartWidth);
        @include ease(filter, sqrt, $logoStartFilter);
    }

    #{$navTOCMiddle} {
        @include ease(width, cubedroot, $logoEndWidth);
        @include ease(filter, sqrt, $logoEndFilter);
    }
}


@if($navAnimation=="TOCUp") {
    header {
      -skrollr-animation-name: headerTOCLiftToTop;
      .bgHolder {
        -skrollr-animation-name: TOCSetHeaderColor;
      }
    }

    nav > ul {
        -skrollr-animation-name: navTOCFadeIn;
        position: fixed;

        ul {
            position: absolute;
            z-index: -1;
            -skrollr-animation-name: TOCRetractDetails;
        }
    }

    .logo a {
      -skrollr-animation-name: logoResizeToTOCBar;
    }    

    .logo img {
      -skrollr-animation-name: logoRestyleToTOCBar;
    }

    .objective {
        background-color: transparent !important;
    }
}

@else {
    nav > ul {
      position: absolute;

      > li {
        position: relative;
        top:-80px;

        li {
            display: none;
        }
      }
    }

    #header {
      -skrollr-animation-name: headerBarDown;
    }

    .logo a {
      -skrollr-animation-name: logoResizeToTopLeft;
    }
}

#tagline {
  -skrollr-animation-name: taglineOut;
}

