* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  letter-spacing: .47px; }

html {
  color: #333333; }

p {
  max-width: 35em; }

h1, h2, h3 {
  font-family: 'Klavika Bold'; }

h2, .h2 {
  font-size: 1.75em; }

h3, .h3 {
  font-size: 1.5em; }

h4, .h4 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em; }

p {
  font-size: 1.25em; }

a {
  color: inherit; }

.first {
  background-color: #d44e29; }

.second {
  background-color: #e6b400; }

.third {
  background-color: #431e5d; }

.fourth {
  background-color: #17862c; }

.fifth {
  background-color: #0e3c81; }

.sixth {
  background-color: black; }

.bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: none;
  -webkit-filter: saturate(10%);
  -webkit-filter: contrast(0.56); }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100; }
  header .tagline {
    position: fixed;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: .2px;
    -webkit-filter: none; }
  header .logo a {
    padding: 15px 30px 0;
    position: fixed;
    top: 50%;
    box-sizing: content-box;
    height: 65px; }
    header .logo a img {
      width: 100%; }
  header .bgHolder {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    max-width: 1310px;
    opacity: 0;
    background-color: #d44e29; }
  header nav > ul {
    list-style-type: none;
    color: white;
    left: 200px;
    min-width: 1010px;
    max-width: 1110px; }
    header nav > ul > li {
      float: left;
      height: 80px;
      z-index: 4;
      padding: 13.5px 19.998px; }
      header nav > ul > li.first {
        width: 20.79208%; }
      header nav > ul > li.second {
        width: 15.84158%; }
      header nav > ul > li.third {
        width: 21.78218%; }
      header nav > ul > li.fourth {
        width: 18.81188%; }
      header nav > ul > li.fifth {
        width: 14.85149%; }
      header nav > ul > li.calendar {
        width: 7.92079%;
        text-indent: -1000em;
        background-image: url(calendar.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: 20px 14px; }
    header nav > ul ul {
      list-style-type: none;
      margin-top: 1em;
      color: #333333; }
      header nav > ul ul li {
        margin-bottom: .666em;
        line-height: 1.3em;
        font-size: 1.25em; }

.objective {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 30px; }
  .objective.revealing {
    overflow: hidden; }
  .objective h2 {
    margin-bottom: 1em; }
  .objective > h2 {
    font-size: 2em;
    margin-top: -.6em;
    margin-bottom: 2em; }
  .objective .poweredby .initiative {
    height: 50px;
    width: 138px; }
    .objective .poweredby .initiative img {
      height: 50px;
      width: 138px;
      margin-top: -8px; }

.initiative {
  margin-bottom: 2em;
  float: left;
  max-width: 23em;
  margin-left: 3em; }
  .initiative:nth-of-type(1) {
    margin-left: 0em; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.hidden {
  display: none; }

.scrollCue {
  position: fixed;
  bottom: 2%;
  left: 30px;
  background-image: url(scroll.png); }

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0; }

/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(data-stroke);
  position: absolute;
  -webkit-text-stroke: 3px #333;
  z-index: -1; }

/* add a double stroke */
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.4em #778B37;
  left: 0;
  z-index: -2; }

@-skrollr-keyframes taglineOut {
  0 {
    top[swing]: 25%;
    margin-top[sqrt]: 130px;
    left[sqrt]: 30px;
    font-size: 2em;
    width: 590px; }

  250 {
    left[sqrt]: -590px; } }

@-skrollr-keyframes headerBarDown {
  420 {
    height[swing]: 0px; }

  500 {
    height[swing]: 80px; } }

@-skrollr-keyframes logoResizeToTopLeft {
  0 {
    top[sqrt]: 25%;
    filter[swing2]: drop-shadow(0 0 4px black) invert(0);
    width: 280px; }

  500 {
    top[sqrt]: 0%;
    filter[swing2]: drop-shadow(0 0 0px black) invert(1);
    width: 140px; } }

@-skrollr-keyframes navCascadeDown-1 {
  495 {
    top[sqrt]: -80px; }

  525 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-1-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  815 {
    blank: true; }

  890 {
    top: 0%;
    margin-top: 120px; }

  965 {
    blank: true; } }

@-skrollr-keyframes panel-1-out {
  1040 {
    top: -100%;
    margin-top: 0px; } }

.objective:nth-of-type(1) {
  z-index: 1;
  -skrollr-animation-name: panel-1-in;
  -skrollr-animation-name: panel-1-out; }

nav ul ul:nth-of-type(1) {
  max-width: 180px; }

@-skrollr-keyframes navCascadeDown-2 {
  510 {
    top[sqrt]: -80px; }

  540 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-2-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  965 {
    blank: true; }

  1040 {
    top: 0%;
    margin-top: 120px; }

  1115 {
    blank: true; } }

@-skrollr-keyframes panel-2-out {
  1190 {
    top: -100%;
    margin-top: 0px; } }

.objective:nth-of-type(2) {
  z-index: 2;
  -skrollr-animation-name: panel-2-in;
  -skrollr-animation-name: panel-2-out; }

nav ul ul:nth-of-type(2) {
  max-width: 130px; }

@-skrollr-keyframes navCascadeDown-3 {
  525 {
    top[sqrt]: -80px; }

  555 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-3-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1115 {
    blank: true; }

  1190 {
    top: 0%;
    margin-top: 120px; }

  1265 {
    blank: true; } }

@-skrollr-keyframes panel-3-out {
  1340 {
    top: -100%;
    margin-top: 0px; } }

.objective:nth-of-type(3) {
  z-index: 3;
  -skrollr-animation-name: panel-3-in;
  -skrollr-animation-name: panel-3-out; }

nav ul ul:nth-of-type(3) {
  max-width: 190px; }

@-skrollr-keyframes navCascadeDown-4 {
  540 {
    top[sqrt]: -80px; }

  570 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-4-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1265 {
    blank: true; }

  1340 {
    top: 0%;
    margin-top: 120px; }

  1415 {
    blank: true; } }

@-skrollr-keyframes panel-4-out {
  1490 {
    top: -100%;
    margin-top: 0px; } }

.objective:nth-of-type(4) {
  z-index: 4;
  -skrollr-animation-name: panel-4-in;
  -skrollr-animation-name: panel-4-out; }

nav ul ul:nth-of-type(4) {
  max-width: 160px; }

@-skrollr-keyframes navCascadeDown-5 {
  555 {
    top[sqrt]: -80px; }

  585 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-5-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1415 {
    blank: true; }

  1490 {
    top: 0%;
    margin-top: 120px; }

  1565 {
    blank: true; } }

@-skrollr-keyframes panel-5-out {
  1640 {
    top: -100%;
    margin-top: 0px; } }

.objective:nth-of-type(5) {
  z-index: 5;
  -skrollr-animation-name: panel-5-in;
  -skrollr-animation-name: panel-5-out; }

nav ul ul:nth-of-type(5) {
  max-width: 120px; }

@-skrollr-keyframes headerTOCLiftToTop {
  525 {
    top: 25%; }

  600 {
    dummy: true; }

  875 {
    top: 0%; } }

@-skrollr-keyframes navTOCFadeIn {
  250 {
    opacity[swing]: 0; }

  525 {
    opacity[swing]: 1; } }

@-skrollr-keyframes TOCRetractDetails {
  775 {
    top[swing4]: 80px; }

  890 {
    top[swing4]: -120px; } }

@-skrollr-keyframes TOCSetHeaderColor {
  775 {
    opacity: 0; }

  890 {
    opacity: 1; } }

@-skrollr-keyframes logoResizeToTOCBar {
  0 {
    top: 25%;
    padding-right[swing3]: 0px;
    background-color: hsla(0,0%,100%, 0); }

  525 {
    padding-right[swing3]: 30px;
    background-color: hsla(0,0%,100%, 1); }

  600 {
    dummy: true; }

  875 {
    top: 0%; } }

@-skrollr-keyframes logoRestyleToTOCBar {
  0 {
    width[cubedroot]: 280px;
    filter[sqrt]: none; }

  525 {
    width[cubedroot]: 140px;
    filter[sqrt]: none; } }

header {
  -skrollr-animation-name: headerTOCLiftToTop; }
  header .bgHolder {
    -skrollr-animation-name: TOCSetHeaderColor; }

nav > ul {
  -skrollr-animation-name: navTOCFadeIn;
  position: fixed; }
  nav > ul ul {
    position: absolute;
    z-index: -1;
    -skrollr-animation-name: TOCRetractDetails; }

.logo a {
  -skrollr-animation-name: logoResizeToTOCBar; }

.logo img {
  -skrollr-animation-name: logoRestyleToTOCBar; }

.objective {
  background-color: transparent !important; }

#tagline {
  -skrollr-animation-name: taglineOut; }
