@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
/*
$bubble-size: 265px;
$first-bubble-left: 80px;
$first-bubble-top: 480px;
$second-bubble-left: 670px;
$second-bubble-top: 140px;
$third-bubble-left: 125px;
$third-bubble-top: 200px;
$fourth-bubble-left: 510px;
$fourth-bubble-top: 500px;
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'KievitPro'; }

body > div, body > header {
  padding-left: 30px;
  padding-right: 30px; }

h1, h2 {
  font-family: 'Klavika Bold'; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em; }

p {
  font-size: 1.25em; }

a {
  color: inherit; }

header {
  background-image: url("img/ribbon.png");
  background-repeat: repeat-x;
  padding-top: 30px;
  padding-bottom: 6px; }
  header .logo img {
    width: 190px; }

nav {
  position: absolute;
  right: 30px;
  top: 30px;
  margin-top: 16px; }
  nav ul {
    list-style-type: none; }
  nav li {
    margin-left: 1.5em;
    float: left;
    font-family: 'Klavika Regular', 'Open Sans', sans-serif; }
    nav li:first-child {
      margin-left: 0; }

.active {
  font-family: 'Klavika Bold'; }

.tagline {
  font-style: italic;
  display: block;
  max-width: 35em;
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 4px; }

.objective {
  margin: 0;
  overflow: auto;
  box-sizing: content-box; }

.horiz .objective {
  overflow: hidden;
  position: absolute;
  -webkit-transition: width 1.2s, top 1.2s, left 1.2s, height 1.2s, border-radius 1.2s; }
  .horiz .objective h2 {
    width: 250px;
    margin-left: 25px;
    margin-top: 60px;
    text-align: center;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 1.5s; }
  .horiz .objective.first h2 {
    margin-left: 10px; }
  .horiz .objective.second h2 {
    position: relative;
    top: 30px; }
  .horiz .objective.start {
    width: 0;
    height: 0;
    padding: 0; }
    .horiz .objective.start.first {
      left: 180px;
      top: 340px; }
    .horiz .objective.start.second {
      left: 420px;
      top: 480px; }
    .horiz .objective.start.third {
      left: 675px;
      top: 340px; }
    .horiz .objective.start.fourth {
      left: 935px;
      top: 440px; }
  .horiz .objective.show {
    height: 300px;
    width: 300px;
    border-radius: 150px; }
    .horiz .objective.show.first {
      top: 190px;
      left: 30px;
      background-color: #f59093; }
      .horiz .objective.show.first h2 {
        -webkit-transform: rotate(-6deg); }
    .horiz .objective.show.second {
      top: 330px;
      left: 270px;
      background-color: #ffbf5c;
      z-index: 2; }
    .horiz .objective.show.third {
      top: 190px;
      left: 525px;
      background-color: #71cbf5; }
      .horiz .objective.show.third h2 {
        -webkit-transform: rotate(-3deg); }
    .horiz .objective.show.fourth {
      background-color: #c6db74;
      top: 290px;
      left: 785px; }
.horiz .initiative {
  position: relative;
  text-align: center;
  width: 95px; }

.vert .objective {
  float: left;
  width: 25%;
  box-sizing: border-box; }
.vert .accordian {
  margin-left: -30px;
  margin-right: -30px;
  width: 100%;
  box-sizing: content-box; }
.vert .initiative {
  margin-top: 1em; }

.powered img, .powered span {
  display: inline-block;
  height: 50px;
  margin-right: 15px; }
.powered span {
  vertical-align: middle; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.hidden {
  display: none; }
