@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

$outer-padding: 30px;

//########### RESET AND NORMALIZE (ISH) ################
* {
  margin: 0;
  padding: 0;
  font-family: 'KievitPro';
}


//############ ELMENT STYLES #################

html {
  color: white;
}

p {
    max-width:35em;
}

h1, h2, h3 { 
  font-family: 'Klavika Bold';
}

h2, .h2 {
  font-size: 1.75em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em;
}

p {
  font-size: 1.25em;
}

a {
  color: inherit;
}

.first { background-color:#de481f; }
.second { background-color:#E6B400; }
.third { background-color:#441863; }
.fourth { background-color: #138a2a; }
.fifth { background-color: #0a3b85; }
.sixth { background-color: black; }

.bg {
  top:0;
  bottom:0;
  left: 0;
  right:0;
  position: fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-image: url(img/events/914085_589631024424465_1530612378_o.jpg);
  -webkit-filter: saturate(10%);
  -webkit-filter: contrast(0.56);
}

header {
  position: fixed;
  top: 0;
  width:100%;
  background-color:rgba(255,255,255,1);
  z-index: 100;

  .tagline {
    position: fixed;
    font-weight:600;
    line-height: 1.3em;
    -webkit-filter: drop-shadow(0 0 1px black);
  }

  .logo img {
    position: fixed;
    top:50%;
  }

  nav ul {
    list-style-type:none;
    height:80px;
    overflow: hidden;
    position: absolute;
    top:-80px;
    li {
      position: fixed;   
      height:80px;
      z-index:4;
      padding:$outer-padding*.45 $outer-padding*.6666;
      &.first {
        width:210px;
      }
      &.second {
        width:160px;
      }
      &.third {
        width:220px;
      }
      &.fourth {
        width:190px;
      }
      &.fifth {
        width:150px;
        box-sizing: content-box;
        height:53px;
        padding-right:2000em;
      }
    }
  }
}

.objective {
  position: fixed;
  width: 100%;
  margin-top:80px;
  padding: $outer-padding;
  height:100%;

  &.revealing {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 1em;
  }

  > h2 {
    margin-top:-.6em;
    font-size:1.33em;
    margin-bottom:2.75em;
  }

  .poweredby {
    .initiative {
      height:50px;
      width: 138px;
      img {
        height:50px;
        width: 138px;
        margin-top:-8px;
      }
    }
  }
}


.initiative {
  margin-bottom:2em;
  float:left;
  max-width:23em;
  margin-left:3em;

  &:nth-of-type(1) {
    margin-left:0em;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.hidden {
  display: none;
}


/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 3px #333;
  z-index: -1;
}
/* add a double stroke */
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.4em #778B37;
  left: 0;
  z-index: -2;
}