@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
* {
  margin: 0;
  padding: 0;
  font-family: 'KievitPro'; }

html {
  color: white;
  background-color: #ddd; }

body {
  min-width: 790px;
  max-width: 845px; }

h1, h2 {
  font-family: 'Klavika Bold'; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.4em;
  font-family: 'Klavika Regular';
  letter-spacing: -.02em; }

p {
  font-size: 1.25em; }

a {
  color: inherit; }

header, .objective {
  padding-left: 35px;
  padding-right: 40px; }

header {
  padding-top: 15px;
  padding-bottom: 6px;
  margin-bottom: 15px;
  color: #111;
  background-color: #fff; }
  header h1, header .tagline {
    float: left; }
  header .logo img {
    width: 140px; }

nav {
  display: none; }

.tagline {
  font-style: italic;
  display: block;
  max-width: 35em;
  font-size: 1em;
  margin-left: 2em;
  line-height: 1.3em;
  margin-top: 2px; }

.objective {
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  min-height: 110px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  -webkit-transition: width 1s, height 1s; }
  .objective.start {
    width: 0;
    height: 0;
    padding: 0; }
  .objective.show.first {
    background-color: #de481f; }
    .objective.show.first .initiative:last-child {
      width: 320px; }
  .objective.show.second {
    background-color: #efb607; }
  .objective.show.third {
    background-color: #441863; }
  .objective.show.fourth {
    background-color: #138a2a; }
  .objective.show.fifth {
    background-color: #0a3b85; }
  .objective.show.sixth {
    background-color: black; }
  .objective.show.poweredby {
    color: #111;
    background-color: #fff; }
    .objective.show.poweredby h2 {
      height: 100%; }
    .objective.show.poweredby .initiative {
      height: 50px;
      width: 138px; }
      .objective.show.poweredby .initiative img {
        height: 50px;
        width: 138px;
        margin-top: -8px; }

.objective h2 {
  width: 250px;
  margin-right: 30px;
  float: left;
  margin-top: 12px; }

.initiative {
  float: left;
  padding-top: 1em;
  width: 150px;
  margin-right: 20px; }
  .initiative:last-child {
    margin-right: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.hidden {
  display: none; }
