{% extends "layout.tmpl" %}
{% block extraStylesheets %}
    <link rel="stylesheet" href="css/apply.css" type="text/css" />
    <style>
      img {
        width:100%;
        position: fixed;
        top: 0;
        left: 0;
      }
      .info {
        position: fixed;
        z-index: 1; 
        left: 1em;
        color: white;
        top: 1em;
      }
    </style>
{% endblock %}
{% block pageTitle %} | Page Not Found{% endblock %}
{% block body %}
<div class="info">
  {% if customMessage %}
    <h1>{{customMessage}}</h1>
  {% else %}
    <h1>Page not found :/</h1>
  {% endif %}
  <h2>Sorry!</h2>
</div>
<img src='http://media.giphy.com/media/r80RL4B8Fys3m/giphy.gif' alt="" />
{% endblock %}