{% extends "layout.tmpl" %}
{% block extraStylesheets %}
    <link rel="stylesheet" href="css/apply.css" type="text/css" />
    <style>
      body {
        padding: 0 .75em;
        max-width: 53em;
        position: relative;
        max-width: 40em;
      }

      a {
        color: hsl(218, 66%, 36%);
        text-decoration: underline;
      }
      
      section {
        margin-top: 1.75em;
      }

      h1 {
        margin-top: .75em;
        margin-bottom: .25em;
      }

      h2 {
        margin-bottom: .333em;
      }
    </style>
{% endblock %}
{% block pageTitle %} | Apply {% endblock %}
{% block body %}
<header>
  <h1>Tech@NYU&rsquo;s Anti-Harassment Policy</h1>
</header>
<section>
  <p>The following anti-harassment policy covers all tech@nyu events and activities and applies to all members, presenters, and other participants.</p>

  <p>Furthermore, tech@nyu will only lend its brand to or fund groups that offer a similar anti-harassment policy. For information on how to offer an anti-harassment policy to your group, see <a href="https://docs.google.com/document/d/1Zg2FDt7awgfCmdcbzMwKHMb1A7KDOhs_z7ibCb3TLLQ/edit">Code for America&rsquo;s guide</a>, the advice of which can be generalized to non&ndash;Code for America groups.</p>

  <p>Tech@NYU does not tolerate harassment in any form. We welcome everyone regardless of sex, race, gender, gender identity and expression, sexual orientation, disability, age, physical appearance, religion/faith, national origin, source of income, and language preference.</p>

  <p>Harassment includes but is not limited to: offensive verbal or written comments related to, or exclusion based on, any of the characteristics listed above (i.e. sex, race, gender, etc.); deliberate intimidation; following or stalking; unwanted photography or recording; sustained disruption of talks or other events; inappropriate physical contact; unwelcome sexual attention; and patronizing language or action.</p>

  <p>Further, sexual language and imagery is not appropriate at any tech@nyu event or activity, including talks.</p>

  <p>Anyone in violation of this policy may be warned, expelled from the event, and/or banned from future tech@nyu activities, at the sole discretion of the tech@nyu leadership and the event organizers.</p>

  <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff immediately. Additionally, you can contact Ethan Resnick, tech@nyu&rsquo;s President, at ethan.resnick@gmail.com and +1 (310) 439-8032. To the largest extent possible, reports of harassment will be kept confidential; usually, this means they will only be shared tech@nyu board members who are not involved in the incident and are directly dealing with anti-harassment enforcement, or with law enforcement/venue security should their presence become necessary.</p>

  <p>Tech@NYU leadership and/or event staff will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event.</p>

  <p>We value your participation and hope that by widely communicating these expectations we can all enjoy a welcoming environment.</p>
</section>
<section>
    <h2>Email Template for Anti-Harassment Reporting</h2>

    <p><i>If you have any issue, please report in person, call the number above, or use this email template.</i></p>
    <pre>
SUBJECT: Safe Space Alert at [EVENT NAME]

I am writing because of harassment at a tech@nyu event, (NAME, PLACE, DATE OF EVENT).
You can reach me at (CONTACT INFO). Thank you.
</pre>
</section>
<section>
  <h2>Contributors to this Policy</h2>
  <p>This anti-harassment policy is based on Code for America&rsquo;s Anti-Harassment policy and the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers. Those policies were in turn based on several others, including the Ohio LinuxFest anti-harassment policy, written by Esther Filderman and Beth Lynn Eicher, and the Con Anti-Harassment Project. Mary Gardiner, Valerie Aurora, Sarah Smith, and Donna Benjamin generalized the policies and added supporting material. Many members of LinuxChix, Geek Feminism and other groups contributed to this work. The policy shown above was edited into its present form by Ethan Resnick.</p>
</section>
{% endblock %}