{% extends "layout.tmpl" %}
{% block extraStylesheets %}
    <link rel="stylesheet" href="css/apply.css" type="text/css" />
    <style>
      body {
        padding: 0 .75em;
        max-width: 53em;
        position: relative;
      }
      nav {
        position: static; 
        color: inherit;
        height: auto;
      }
      a {
        color: hsl(218, 66%, 36%);
        text-decoration: underline;
      }
      
      section {
        margin-top: 2em;
        max-width: 40em;
      }

      header {
        position: relative;
        margin-top: 0;
        padding-top: 0;
        margin-left: -.75em;
        margin-right: -.75em;
      }

        h1 {
          position: absolute;
          bottom: .1em;
          color: white;
          left: .75em;
        }

      h2 {
        margin-bottom: .333em;
      }

      article {
        margin-bottom: 1.75em;
      }

      dl {
        max-width: 40em;
      }
      dd {
        display: inline;
      }

      dd::after {
        content: ', ';
      }

      dd:last-child::after {
        content: '.';
      }

      .flatButton, .flatButton a {
        background-color: hsl(218, 66%, 36%);
        color: white;
      }

      small {
        text-transform: uppercase;
        font-size: .75em;
        color: #666;
        letter-spacing: .05em;
        margin-left: .1em;
      }

      small .number {
        /* font-size: 1.2em; */
      }

      @media only screen and (min-width: 970px) and (min-height: 700px) {
        nav {
          float:right;
          width: 12em;
          height: auto;
          border: 3px solid hsl(14, 68%, 51%);
          margin-top: -16em; /* depends on the height of the deadlines section. ick. */
        }

        section {
          float: left;
        }

        dd {
          line-height: 1.2em;
          padding: .25em .5em;
          margin: 0;
          display: block;
        }
        dd::after {
          content: none !important;
        }
        dd a {
          color: hsl(19, 16%, 20%);
        }

        dt {
          text-transform: uppercase;
          letter-spacing: .5px;
          font-size: .9em;
          color: hsl(0, 0%, 95%);
          background: hsl(14, 68%, 51%);
          padding: .27777em .55555em;
          font-weight: bold;
          font-style: normal;
        }

        .extra {
          display: none;
        }
      }
    </style>
{% endblock %}
{% block pageTitle %} | Apply {% endblock %}
{% block body %}
<header>
  <h1>Apply to Join</h1>
  <img src="http://techatnyu.org/img/bg/team-short.jpg" alt="Our Team at the 2013 tech@nyu retreat">
</header>
<section>
  <h2>Why Join Tech@NYU</h1>
    {# This needs to be way more fun, and should show don't tell that we're friendly and fun. also, could have something about "if you're the kinda person who x", then tech@nyu's perfect. Needs more gifs. #}
  <p>We&rsquo;re a community of over 5,000 students, making us the largest tech, design, and entrepreneurship club in NYC. As a Tech@NYU officer, you&rsquo;ll be part of a close group of some of the smartest, most driven, and friendliest students in the city. We&rsquo;re a passionate, scrappy bunch that doesn&rsquo;t just talk about tech and design&mdash;<a href="http://ship.techatnyu.org/">we ship</a>. All The Time.</p>

  <p>If you&rsquo;re a student in New York City who&rsquo;s interested in the intersection of entrepreneurship, coding, art and design&hellip;we strongly encourage you to apply! Good luck!</p>
</section>
<section>
  <h3>Deadlines &amp; Eligibilty</h3>
  <p>The final deadline to apply is Friday, August 22nd. However, candidates are admitted on a rolling basis, so <em>earlier applicants have an advantage</em>. All applicants will hear back from us before the school year starts.</p>
  <p>Any student in NYC may apply, including graduate students. If you&rsquo;re studying abroad in the upcoming year, we encourage you to apply for any of the team member positions; unfortunately, only students who will be in NYC full time are eligible for the team lead positions (see below).</p>

 {# <h3>Team Leads vs Team Members</h3>
  <p><i>Team leads</i> manage a group of officers to plan and host events throughout the semester. If you take on a lead position, </p>

  <p><i>Team member</i> positions are great for getting your foot in the Tech@NYU door, getting to know how we operate, and helping to plan events that run smoothly.</p>
  #}
</section>
  <nav style="">
    <dl>
      <dt>Available positions<span class="extra"> for 2014 are:</span></dt>
      {% for position in positions %}
        <dd>
          {% if position.filled == position.needed %}
          <del>
          {% endif %}

          {% if position.priority %}<strong>{% endif %}
            <a href="#{{position.name|toAnchor}}">{{position.name}}</a>
          {% if position.priority %}</strong>{% endif %}

          {% if position.filled == position.needed %}</del><ins><small>Position filled!</small></ins>{% endif %}
        </dd>
      {% endfor %}
    </dl>
  </nav>
<section>
  <h2>Available Positions</h2>
  {% for position in positions %}
    {% if position.filled != position.needed %}
      <article>
        <h3 id="{{position.name|toAnchor}}">{{position.name}}</h3>
        <p>{{position.desc|safe}}</p>
        <a class="button flatButton" href="{{position.link}}">Apply Now!</a> {% if position.name|replace("Lead", "") == position.name %}<small><span class="number">{{ position.needed - position.filled }}</span> remaining</small>{% endif %}
      </article>
    {% endif %}
  {% endfor %}
</section>
{% endblock %}
