
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6 home" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 home" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 home" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js home" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- Force Latest IE rendering & Chrome Frame -->
  
  <meta name="Copyright" content="Copyright tech@nyu {{ now.getFullYear() }}." />
  <meta name="DC.creator" content="tech@nyu" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="HandheldFriendly" content="True" />
  <meta http-equiv="cleartype" content="on" />

  <title>tech@nyu</title> 
  <!--[if ! lte IE 8]><!-->
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link rel="stylesheet" href="css/skrollr-large.css" type="text/css" data-skrollr-stylesheet media="only screen and (min-width:920px) and (min-height: 620px) and (max-aspect-ratio: 1500/750)" />
    <link rel="stylesheet" href="css/skrollr-small.css" type="text/css" data-skrollr-stylesheet media="screen and (max-width:919px), (max-height: 620px), (min-aspect-ratio:1501/750)" />
  <!--<![endif]-->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1b.css" media="screen, projection">
  <![endif]-->
  <script data-main="scripts/app" src="scripts/bower_components/requirejs/require.js"></script>
  <script type="text/javascript" src="//use.typekit.net/bpm7cfb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="horiz">
  <header class="clearfix" id="header">
    <a href="">
      <h1 id="logo">
        {% include "partials/logo_with_alt.tmpl" %}
      </h1>
    </a>
    <div id="info">
      <div id="info-inner">
        <p id="tagline" class="tagline h2">
          We host tech, design, and entrepreneurship events for students at NYU and surrounding schools. We welcome students of all experience levels.
        </p>
      </div>
    </div>
    <a id="scrollCue" href="#{{ sections[0].anchor }}" data-transitionpoint="0">Skip to the Getting Started Section</a>
    <nav id="nav">
        <ol class="optionList">
          {% for section in sections %}
            {% if not section.name|contains("Calendar") %} 
                <li class="h3" {% if section.shortName %}data-shortname="{{ section.shortName }}"{% endif %} data-origname="{{ section.name|escape|add_br|safe }}">
                  <a href="#{{ section.anchor }}" data-transitionpoint="{{loop.index0}}">{{ section.name|escape|add_br|safe }}</a>
                </li>
              </a>
            {% else %}              
                <li class="h3 calendar">
                  <a href="#{{ section.anchor }}" data-transitionpoint="{{loop.index0}}">{% include "partials/calendar_with_alt.tmpl" %}</a>
                </li>
            {% endif %}
          {% endfor %}
        </ol>
    </nav>
    <div id="upcoming">
      <div id="upcoming-inner">
        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" data-alt-title="Upcoming Events">Next Event</h2>
          </div>
          <div class="content">
            <a class="event with-flatButton" href="">
              <strong class="title h5">What Designers Actually Do</strong>
              <span class="caption">A Workshop with Anne-Laure Fayard <span class="more">More&nbsp;info&hellip;</span></span>
              <button class="flatButton round" id="more-events">More Events</button>
            </a>
          </div>
        </div>

        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" style="vertical-align:top;">Notify Me of Future Events</h2>
          </div>
          <form class="content singleLineForm" id="digestForm">
            <input type="email" placeholder="Enter your email address..." class="mainField" /><input type="submit" value="Sign Up" class="submitButton" />
            <p class="caption hidden">Every other week, you&rsquo;ll get a digest of the best tech, design, and entreprenuership events in NYC.</p>
          </form>
        </div>
     </div>
    </div>
  </header>
  <div id="skrollr-body">
    <div id="content">
      <section class="objective first" id="get-started" data-section="1">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Get Started with the Tech Scene</h1>
        <div class="initiative">
          <h2 class="h3">Freshman Circuit</h2>
          <p>Attend tech@nyu events and tour NYC startups with a small community of other freshmen. You'll get to meet startup employees to learn what they’re up to and where you might fit in. We&rsquo;ve previously toured Betaworks, eBay, The New York Times, Foursquare, Quirky, and others.</p>
          <a href="http://www.freshmancircuit.com/" class="button flatButton circuitButton">
            <svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="213.6 285.3 182.9 219.4" enable-background="new 213.6 285.3 182.9 219.4" xml:space="preserve"><g><path d="M308.3,504.7c0,0,83.5-46,88-128.8c3.4-62-59.1-92.2-92.8-90.6c-33.8,1.6-95.9,30.7-89.4,89C224.2,466.6,308.3,504.7,308.3,504.7z"/><path fill="#FFFFFF" d="M272.3,368.5c0-17.7,14.6-32,32.7-32c18,0,32.7,14.3,32.7,32c0,17.7-14.6,32.1-32.7,32.1C287,400.6,272.3,386.3,272.3,368.5z"/></g></svg>
             Learn More and Apply!
          </a>
        </div>

        <div class="initiative">
          <h2 class="h3">Programming &amp; Design Introductory Workshops</h2>
          <p>Learn the basics of programming or design.</p>
          <dl class="optionList">
            <dt>To be notified of upcoming workshops, join one of our facebook groups</dt>
            <dd class="li first">
              <a href="{{channels.Programming.facebook }}" class="flatButton programmingButton">
                <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" xml:space="preserve"><g><path d="M0,405.8v-27.2l174.2-94.7v45.7L53.4,391.6l120.9,63.2v45.7L0,405.8z"/><path d="M264,563.7h-41.4l120.9-335.4h41.4L264,563.7z"/><path d="M437.8,500.5v-45.7l120.9-63.2l-120.9-63.2v-44.6L612,378.6v27.2L437.8,500.5z"/></g></svg>
                 Programming Facebook Group
              </a>
            </dd>
            <dd class="li">
              <a href="{{channels.Design.facebook }}" class="flatButton designButton">
                <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 183.6 195.8" xml:space="preserve"><g><polygon points="157.1,0 137.1,23.1 162.4,49.4 183.6,28.4"/><polygon points="17.3,150.9 127.6,31 155.6,59.6 44.9,178.6" /><polygon points="9.4,159.1 0,195.8 37.3,185.3" /></g></svg>
                 Design Facebook Group
              </a>
           </dd>
          </dl>
        </div>
      </section>

      <section class="objective second" id="improve-your-skills" data-section="2">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Improve Your Skills</h1>
        <div class="initiative"> 
          <h2 class="h3">Hack Days</h2>
          <p>Lectures on web technologies, covering everything from <a href="http://angularjs.org" class="progressively-disclose">Angular</a> to <a href="http://zeptojs.com/" class="progressively-disclose">Zepto</a>.</p>

          <a href="{{channels.Programming.facebook }}" class="flatButton programmingButton">
            <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" xml:space="preserve"><g><path d="M0,405.8v-27.2l174.2-94.7v45.7L53.4,391.6l120.9,63.2v45.7L0,405.8z"/><path d="M264,563.7h-41.4l120.9-335.4h41.4L264,563.7z"/><path d="M437.8,500.5v-45.7l120.9-63.2l-120.9-63.2v-44.6L612,378.6v27.2L437.8,500.5z"/></g></svg>
             Programming Facebook Group
          </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
        <div class="initiative">
          <h2 class="h3">Design Days</h2>
          <p>Workshops on design thinking, user research, and advanced topics in digital product design (e.g. designing for mobile).</p>
            <a href="{{channels.Design.facebook }}" class="flatButton designButton">
              <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 183.6 195.8" xml:space="preserve"><g><polygon points="157.1,0 137.1,23.1 162.4,49.4 183.6,28.4"/><polygon points="17.3,150.9 127.6,31 155.6,59.6 44.9,178.6" /><polygon points="9.4,159.1 0,195.8 37.3,185.3" /></g></svg>
               Design Facebook Group
            </a> <small class="caption">Join to be notified of upcoming events.</small>
          </dl>
        </div>
        <div class="initiative">
          <h2 class="h3">Game Days</h2>
          <p>Workshops on game design, prototyping, and programming. Prior speakers have come from Golden Ruby Games, Arkadium, OMGpop, and others.</p>
          <a href="{{channels.Gaming.facebook}}" class="flatButton gamingButton">
            <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="44.4 222.7 533 348.2" xml:space="preserve"><g><path d="M547,326.8c-25.8-69.6-91.9-104.1-111.3-104.1c-19.4,0-38.8,0.7-96.9,39.5h-57.4c-57.8-38.8-77.2-39.5-96.2-39.5s-85.1,34.5-110.6,104.1c-21.2,57.8-34.8,122-28.7,163c7.5,51.7,37,78.6,53.8,81.1c53.1-9.7,114.1-96.9,114.1-96.9H407c0,0,61.4,87.2,114.9,96.9c17.2-2.5,46.7-29.4,54.2-81.1C581.8,448.8,568.5,384.6,547,326.8z M256.2,369.9h-39.5v39.5h-35.9v-39.5h-39.5V334h39.5v-39.5h35.9V334h39.5V369.9z M410.6,413c-14,0-25.1-11.1-25.1-25.1c0-14,11.1-25.1,25.1-25.1c14,0,25.1,11.1,25.1,25.1C435.7,401.8,424.6,413,410.6,413z M410.6,337.6c-14,0-25.1-11.1-25.1-25.1s11.1-25.1,25.1-25.1c14,0,25.1,11.1,25.1,25.1S424.6,337.6,410.6,337.6z M482.4,380.6c-14,0-25.1-11.1-25.1-25.1c0-14,11.1-25.1,25.1-25.1c14,0,25.1,11.1,25.1,25.1C507.5,369.5,496.4,380.6,482.4,380.6z"/></g></svg>
             Gaming Facebook Group
           </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
      </section>

      <section class="objective third" id="build-and-socialize" data-section="3">    
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>  
        <h1>Build &amp; Socialize with Cool People</h1>
        <div class="initiative">
          <h2 class="h3">Hack Nights</h2>
          <p>Designers, developers, and makers of all sorts coming together to hang out, work on their projects and get to know each other. All experience levels welcome!</p>
          <p>(You&rsquo;ll be notified of relevant Hack Nights events if you&rsquo;re a member of either our <a href="{{channels.Programming.facebook}}">Programming Facebook Group</a> or our <a href="{{ channels.Design.facebook }}">Design Facebook Group</a>.)</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Designathons</h2>
          <p>Over the course of a weekend, work with a team to produce a refined, well-researched design concept for a product of your choice.</p>          
            <a href="{{channels.Design.facebook }}" class="flatButton designButton">
              <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 183.6 195.8" xml:space="preserve"><g><polygon points="157.1,0 137.1,23.1 162.4,49.4 183.6,28.4"/><polygon points="17.3,150.9 127.6,31 155.6,59.6 44.9,178.6" /><polygon points="9.4,159.1 0,195.8 37.3,185.3" /></g></svg>
               Design Facebook Group
            </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
      </section>

      <section class="objective fourth" id="latest-in-tech" data-section="4">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Follow the Latest in Tech</h1>
        <div class="initiative">
          <h2 class="h3">Startup Series</h2>
          <p>Monthly speaker and networking events on topics from innovations in tech to venture capital fundraising. We bring in the best and brightest to share their stories, challenges, and triumphs. Past speakers include Dennis Crowley of Foursquare, David Karp of Tumblr, Scott Heiferman of Meetup, David Tisch of Box Group, and Chris Dixon of Andreessen Horowitz.</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Demo Days</h2>
          <p>Students from all over NYC show off hacks or projects they’ve been working on. Demo your work, get inspired, or meet other students doing incredible things. We&rsquo;ve hosted events at Stack Exchange, Spotify, TechStars and more.</p>
          <a href="http://ship.techatnyu.org/#demodays" class="flatButton demoingButton">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="208.1 279.7 195.8 226.4" enable-background="new 208.1 279.7 195.8 226.4" xml:space="preserve"><path d="M226.6,472.8c0-18.4,36.3-33.4,81-33.4c44.7,0,81,14.9,81,33.4s-36.2,33.4-81,33.4C262.9,506.2,226.6,491.2,226.6,472.8z"/><polygon opacity="0.5" enable-background="new" points="226.6,468.7 208.1,329.7 388.5,466.6" /><polygon opacity="0.5" enable-background="new" points="388.5,468.7 403.9,279.7 226.6,466.6 "/></svg>
             Browse Prior Demos
          </a>
        </div>  
        <!-- ADD BACK DIGEST HERE ONCE IT'S GONE ON EVENT CALENDAR SCREEN. BUT, FOR NOW, IT DOESN"T NEED TO BE IN THREE PLACES.
        <div class="initiative">
            <h2 class="h3">Event Digest</h2>
            <p>Our bi-weekly email of the top tech design, and entrepreneurship events around the city, subscribed to by over 4,000 people.</p>
            <form class="content singleLineForm">
            <input type="email" placeholder="Enter your email address..." class="mainField" /><input type="submit" value="Subscribe" class="submitButton" />
          </form>
        </div>
      -->
      </section>

      <section class="objective fifth" id="about" data-section="5">
        <div class="bg" data-wide="img/bg/team.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>About Us</h2>
        <div class="initiative">
          <ul class="optionList">
            <!-- <li><h2 class="h3">Our Team</h2></li> -->
            <li><h2 class="h3"><a href="http://ship.techatnyu.org/">What We&rsquo;ve Made</a></h2></li>
            <!-- <li><h2 class="h3">Job Board</h2></li> -->
          </ul>
        </div>

        <div class="initiative">
          <h2 class="h3">On Social Networks&hellip;</h2>
          <p>Follow us on <a href="https://twitter.com/techatnyu">Twitter</a>, like us on <a href="https://www.facebook.com/TechatNYU">Facebook</a>, or follow us on <a href="http://techatnyu.tumblr.com">Tumblr</a>.</p>
        </div>

        <div class="initiative">
            <h2 class="h3">Contact</h2>
            <p>For sponsorships, email <a href="mailto:emanuel.hahn@stern.nyu.edu">emanuel.hahn@stern.nyu.edu</a>. For all other inquiries, please email <a href="mailto:hello@techatnyu.org">hello@techatnyu.org</a></p>
        </div>

        <div id="poweredby">
          <h2 class="h3">Our Awesome Supporters</h2>
          <ol id="carousel">
            {% for sponsor in sponsors %}
              <li>
                {% if sponsor.url %}
                  <a href="{{sponsor.url}}">
                {% endif %}
                  <img src="img/sponsors/resized/{{sponsor.img}}" alt="{{sponsor.name}}" />
                {% if sponsor.url %}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </div>
      </section>

      <section class="objective sixth" id="event-calendar" data-section="6">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Event Calendar</h2>
        <p>A full-featured calendar is coming soon but, for now, the best way to stay up on our events is to join one or more of our facebook groups, or sign up for our digest.</p>
        <br/>
        <div class="initiative">
          <h2 class="h3">Facebook Groups</h2>
          <ul style="list-style-type:none;">
            <li><a href="{{channels.Programming.facebook }}">Programming</a></li>
            <li><a href="{{channels.Design.facebook }}">Design</a></li>
            <li><a href="{{channels.Gaming.facebook }}">Gaming</a></li>
            <li><a href="{{channels.Business.facebook }}">Business</a></li>
          </ul>
        </div>
        <div class="initiative">
            <h2 class="h3">Event Digest</h2>
            <p>Our bi-weekly email of the top tech design, and entrepreneurship events around the city, subscribed to by over 4,000 people.</p>
            <form class="content singleLineForm">
            <input type="email" placeholder="Enter your email address..." class="mainField" /><input type="submit" value="Subscribe" class="submitButton" />
          </form>
        </div>
      </section>
    </div>
  </div>
  <div class="bg starter" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
  <script type="text/javascript">
    /*$(function() {

      $window.scroll(function(event) {
        var scrollTop = $window.scrollTop(),
            now = new Date(),
            hash = window.location.hash;

        if(typeof firstScrollTime == 'undefined') {
          firstScrollTime = new Date();
        }

        if(scrollTop > sectionOneScrollPos && Math.abs(now.getTime() - firstScrollTime.getTime()) < 50 && hash == '') {
          $('html, body').animate({"scrollTop": sectionOneScrollPos}, Math.abs(scrollTop - sectionOneScrollPos)/10);
          event.preventDefault();
        }
      });

    });*/
  </script>
</body>
</html>
  