
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6 home" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 home" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 home" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js home" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- Force Latest IE rendering & Chrome Frame -->
  
  <meta name="Copyright" content="Copyright tech@nyu {{ now.getFullYear() }}." />
  <meta name="DC.creator" content="tech@nyu" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="HandheldFriendly" content="True" />
  <meta http-equiv="cleartype" content="on" />

  <title>tech@nyu</title> 
  <!--[if ! lte IE 8]><!-->
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link rel="stylesheet" href="css/skrollr-large.css" type="text/css" data-skrollr-stylesheet media="only screen and (min-width:920px) and (min-height: 620px) and (max-aspect-ratio: 1500/750)" />
    <link rel="stylesheet" href="css/skrollr-small.css" type="text/css" data-skrollr-stylesheet media="screen and (max-width:919px), (max-height: 620px), (min-aspect-ratio:1501/750)" />
  <!--<![endif]-->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1b.css" media="screen, projection">
  <![endif]-->
  <script data-main="scripts/app" src="scripts/bower_components/requirejs/require.js"></script>
  <script type="text/javascript" src="//use.typekit.net/bpm7cfb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="horiz">
  <header class="clearfix" id="header">
    <a href="">
      <h1 id="logo">
        {% include "partials/logo_with_alt.tmpl" %}
      </h1>
    </a>
    <div id="info">
      <div id="info-inner">
        <p id="tagline" class="tagline h2">
          We host tech, design, and entrepreneurship events for students at NYU and surrounding schools. We welcome students of all experience levels.
        </p>
      </div>
    </div>
    <a id="scrollCue" href="#getting-started">Skip to the Getting Started Section</a>
    <nav id="nav">
        <ol class="optionList">
          {% for section in sections %}
            {% if not section.name|contains("Calendar") %} 
                <li class="h3" {% if section.shortName %}data-shortname="{{ section.shortName }}"{% endif %} data-origname="{{ section.name|escape|add_br|safe }}">
                  <a href="#{{ section.anchor }}">{{ section.name|escape|add_br|safe }}</a>
                </li>
              </a>
            {% else %}              
                <li class="h3 calendar">
                  <a href="#{{ section.anchor }}">{% include "partials/calendar_with_alt.tmpl" %}</a>
                </li>
            {% endif %}
          {% endfor %}
        </ol>
    </nav>
    <div id="upcoming">
      <div id="upcoming-inner">
        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" data-alt-title="Upcoming Events">Next Event</h2>
          </div>
          <div class="content">
            <a class="event with-flatButton" href="">
              <strong class="title h5">What Designers Actually Do</strong>
              <span class="caption">A Workshop with Anne-Laure Fayard <span class="more">More&nbsp;info&hellip;</span></span>
              <button class="flatButton">More Events</button>
            </a>
          </div>
        </div>

        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" style="vertical-align:top;">Notify Me of Future Events</h2>
          </div>
          <form class="content singleLineForm" id="digestForm">
            <input type="email" placeholder="Enter your email address..." class="mainField" /><input type="submit" value="Sign Up" class="submitButton" />
            <p class="caption hidden">Every other week, you&rsquo;ll get a digest of the best tech, design, and entreprenuership events in NYC.</p>
          </form>
        </div>
     </div>
    </div>
  </header>
  <div id="skrollr-body">
    <div id="content">
      <section class="objective first" id="get-started" data-section="1">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Get Started with the Tech Scene</h1>
        <div class="initiative">
          <h2 class="h3">Freshman Circuit</h2>
          <p>Attend tech@nyu events and tour NYC startups with a small community of other freshmen. You'll get to meet startup employees to learn what they’re up to and where you might fit in. We&rsquo;ve previously toured Betaworks, eBay, The New York Times, Foursquare, Quirky, and others.</p>
          <a href="http://www.freshmancircuit.com/" class="button">Learn More and Apply!</a>
        </div>

        <div class="initiative">
          <h2 class="h3">Programming &amp; Design Introductory Workshops</h2>
          <p>Learn the basics of programming or design.</p>
          - Add the workshop dates to your calendar
          - Join a group for notifications and discussion
        </div>
      </section>

      <section class="objective second" id="improve-your-skills" data-section="2">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Improve Your Skills</h1>
        <div class="initiative"> 
          <h2 class="h3">Hack Days</h2>
          <p>Lectures on web technologies, covering everything from <a href="http://angularjs.org">Angular</a> to <a href="http://zeptojs.com/">Zepto</a>.</p>
          <p>For notifications about future events or to discuss tech topics, join tech@nyu&rsquo;s <a href="" class="button">Join the Facebook Group</a>
        </div>
        <div class="initiative">
          <h2 class="h3">Design Days</h2>
          <p>Workshops on design thinking, user research, and advanced topics in digital product design.</p>
          <p>For notifications about future events or to discuss tech topics, join tech@nyu&rsquo;s <a href="" class="button">Join the Facebook Group</a>
        </div>
        <div class="initiative">
          <h2 class="h3">Game Days</h2>
          <p>Research, Special Topics, Design Thinking, and Practice Design Hackathons</p>
          <p>For notifications about future events or to discuss tech topics, join tech@nyu&rsquo;s <a href="" class="button">Join the Facebook Group</a>
        </div>
      </section>

      <section class="objective third" id="build-and-socialize" data-section="3">    
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>  
        <h1>Build &amp; Socialize with Cool People</h1>
        <div class="initiative">
          <h2 class="h3">Hack Nights</h2>
          <p>Designers, developers, and makers of all sorts together or a few hours each week. Hang out, work on your projects and get to know each other.</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Designathons</h2>
          <p>Over the course of a weekend, work with a team to produce a refined, well-researched design concept for a product of your choice.</p>
        </div>
      </section>

      <section class="objective fourth" id="latest-in-tech" data-section="4">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Follow the Latest in Tech</h1>
        <div class="initiative">
          <h2 class="h3">Startup Series</h2>
          <p>Monthly speaker and networking events on topics from innovations in tech to venture capital fundraising. We bring in the best and brightest to share their stories, challenges, and triumphs. Past speakers include Dennis Crowley of Foursquare, David Karp of Tumblr, Scott Heiferman of Meetup, David Tisch of Box Group, and Chris Dixon of Andreessen Horowitz.</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Demo Days</h2>
          <p>Students from all over NYC show off hacks or projects they’ve been working on. Demo your work, get inspired, or meet other students doing incredible things. We&rsquo;ve hosted events at Stack Exchange, Spotify, TechStars and more.</p>

          SHIP
        </div>  

        <div class="initiative">
            <h2 class="h3">
            <p>Our bi-weekly email of the top tech design, and entrepreneurship events around the city, subscribed to by over 4,000 people.</p>
            <input type="text" placeholder="Email Address" /><input type="submit" value="Subscribe" />
        </div>
      </section>

      <section class="objective fifth" id="about" data-section="5">
        <div class="bg" data-wide="img/bg/team.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>About Us</h2>
        <div class="initiative">
          <h2 class="h3">Our Team</h2>
        </div>
        <div class="initiative">
          <h2 class="h3">What We&rsquo;ve Made</h2>
        </div>

        <div class="initiative">
            <h2 class="h3">Contact</h2>
        </div>

        <div class="initiative">
          <h2 class="h3">Latest Blog Post</h2>
          <p>Blog Post</p>
          <p><a href="">Read more</a></p>
        </div>

        SOCIAL: TWITTER, TUMBLER, FACEBOOK
        "You can follow us on Twitter, like us on Facebook, or follow us on Tumblr."

        <div>
          <h2>Job Board</h2>
          <div class="initiative">
            <h3>Job Title 1</h3>
          </div>
          <div class="initiative">
            <h3>Job Title 2</h3>
            <p>Research, Special Topics, Design Thinking, and Practice Design Hackathons</p>
          </div>
          <div class="initiative">
              <h3>More Jobs...</h3>
          </div>
        </div>
        <!--
        <div class="poweredby">
          <h2>Supported By</h2>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
          <div class="initiative"><h3><img src="./Tech@NYU_files/pivotal labs.png"></h3></div>
        </div>-->
      </section>

      <section class="objective sixth" id="event-calendar" data-section="6">
        <div class="bg" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Event Calendar</h2>
        <p> This screen also needs to be designed. A sign up form for the digest could appear here too.</p>
      </section>
    </div>
  </div>
  <div class="bg starter" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
  <script type="text/javascript">
    /*$(function() {

      /*$window.scroll(function(ev) {
        var scrollTop = $window.scrollTop();

        if(scrollTop > 390 && !tocSubnavCascaded) {
          $('nav ul ul').each(function(listIndex, list) {
              var list = $(list);
              list.animate({'top':'80px'}, 100);
              list.find('li').each(function(listItemIndex, item) {
                var item = $(item);
                setTimeout(function() { item.animate({'top':listItemIndex*40 + 'px'}, 200); }, 100*listItemIndex);
              })
          });

          tocSubnavCascaded = true;
        }

      });*/
      /*
      $window.scroll(function(event) {
        var scrollTop = $window.scrollTop(),
            now = new Date(),
            hash = window.location.hash;

        if(typeof firstScrollTime == 'undefined') {
          firstScrollTime = new Date();
        }

        if(scrollTop > sectionOneScrollPos && Math.abs(now.getTime() - firstScrollTime.getTime()) < 50 && hash == '') {
          $('html, body').animate({"scrollTop": sectionOneScrollPos}, Math.abs(scrollTop - sectionOneScrollPos)/10);
          event.preventDefault();
        }
      });
      */

      /*

      $(function(){
        $('.stroke-double, .stroke-single').attr('data-stroke', function(){
          return $(this).text();
        });
      });
    });*/
  </script>
</body>
</html>
  