{% extends "layout.tmpl" %}
{% from "macros.tmpl" import mailChimpForm %}

{% block htmlClass %}home{% endblock %}

{% block extraStylesheets %}
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link rel="stylesheet" href="css/skrollr-large.css" type="text/css" data-skrollr-stylesheet media="only screen and (min-width:920px) and (min-height: 620px) and (max-aspect-ratio: 1530/750)" />
    <style data-skrollr-stylesheet media="screen and (max-width:919px), (max-height: 620px), (min-aspect-ratio:1531/750)">test { dummy: true; }</style>
{% endblock %}
{% block extraScripts %}
  <!-- build:js -->
    <script data-main="scripts/app" src="scripts/bower_components/requirejs/require.js"></script>
  <!-- endbuild -->
{% endblock %}

{% block body %}
  <header class="clearfix" id="header">
    <a href="">
      <h1 id="logo">
        {% include "partials/logo_with_alt.tmpl" %}
      </h1>
    </a>
    <div id="info">
      <div id="info-inner">
        <p id="tagline" class="tagline h2">
          We host tech, design, and entrepreneurship events for students at NYU and surrounding schools. We welcome students of all experience levels.
        </p>
      </div>
    </div>
    <a id="scrollCue" href="#{{ sections[0].anchor }}" data-transitionpoint="0">Skip to the Getting Started Section</a>
    <nav id="nav">
        <ol class="optionList">
          {% for section in sections %}
            {% if not section.name|contains("Calendar") %} 
                <li class="h3" {% if section.shortName %}data-shortname="{{ section.shortName }}"{% endif %} data-origname="{{ section.name|escape|add_br|safe }}">
                  <a href="#{{ section.anchor }}" data-transitionpoint="{{loop.index0}}">{{ section.name|escape|add_br|safe }}</a>
                </li>
              </a>
            {% else %}              
                <li class="h3 calendar">
                  <a href="#{{ section.anchor }}" data-transitionpoint="{{loop.index0}}">{% include "partials/calendar_with_alt.tmpl" %}</a>
                </li>
            {% endif %}
          {% endfor %}
        </ol>
    </nav>
    <div id="upcoming">
      <div id="upcoming-inner">
        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" data-alt-title="Upcoming Events">Next Event</h2>
          </div>
          <div class="content">
            <a class="event with-flatButton" href="{{ nextEvent.moreInfoUrl }}">
              <strong class="title h5"> {{ nextEvent.shortTitle }}</strong>
              <span class="caption">{{ nextEvent.shortDescription }} <span class="more">More&nbsp;info&hellip;</span></span>
              <button class="flatButton round" id="more-events">More Events</button>
            </a>
          </div>
        </div>

        <div class="promoPanel">
          <div class="heading">
            <h2 class="h6" style="vertical-align:top;">Notify Me of Future Events</h2>
          </div>
          {{ mailChimpForm('content', 'digestForm') }}
        </div>
     </div>
    </div>
  </header>
  <div id="skrollr-body">
    <div id="content">
      <section class="objective first" id="get-started" data-section="1">
        <div class="bg" data-wide="img/bg/circuit1.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Get Started with the Tech Scene</h1>
        <div class="initiative">
          <h2 class="h3">Freshman Circuit</h2>
          <p>Attend tech@nyu events and tour NYC startups with a small community of other freshmen. You'll get to meet startup employees to learn what they’re up to and where you might fit in. We&rsquo;ve previously toured Betaworks, eBay, The New York Times, Foursquare, Quirky, and others.</p>
          <a href="http://www.freshmancircuit.com/" class="button flatButton circuitButton">
            {% include "partials/circuit_icon.tmpl" %}
             Learn More and Apply!
          </a>
        </div>

        <div class="initiative">
          <h2 class="h3">Programming &amp; Design Introductory Workshops</h2>
          <p>Learn the basics of programming or design.</p>
          <dl class="optionList">
            <dt>To be notified of upcoming workshops, join one of our facebook groups</dt>
            <dd class="li first">
              <a href="{{channels.Programming.facebook }}" class="flatButton programmingButton">
                {% include "partials/programming_icon.tmpl" %}
                 Programming Facebook Group
              </a>
            </dd>
            <dd class="li">
              <a href="{{channels.Design.facebook }}" class="flatButton designButton">
                {% include "partials/design_icon.tmpl" %}
                 Design Facebook Group
              </a>
           </dd>
          </dl>
        </div>
      </section>

      <section class="objective second" id="improve-your-skills" data-section="2">
        <div class="bg" data-wide="img/bg/lecture1.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Improve Your Skills</h1>
        <div class="initiative"> 
          <h2 class="h3">Hack Days</h2>
          <p>Lectures on web technologies, covering everything from <a href="http://angularjs.org" class="progressively-disclose">Angular</a> to <a href="http://zeptojs.com/" class="progressively-disclose">Zepto</a>.</p>

          <a href="{{channels.Programming.facebook }}" class="flatButton programmingButton">
            {% include "partials/programming_icon.tmpl" %}
             Programming Facebook Group
          </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
        <div class="initiative">
          <h2 class="h3">Design Days</h2>
          <p>Workshops on design thinking, user research, and advanced topics in digital product design (e.g. designing for mobile).</p>
            <a href="{{channels.Design.facebook }}" class="flatButton designButton">
              {% include "partials/design_icon.tmpl" %}
               Design Facebook Group
            </a> <small class="caption">Join to be notified of upcoming events.</small>
          </dl>
        </div>
        <div class="initiative">
          <h2 class="h3">Game Days</h2>
          <p>Workshops on game design, prototyping, and programming. Prior speakers have come from Golden Ruby Games, Arkadium, OMGpop, and others.</p>
          <a href="{{channels.Gaming.facebook}}" class="flatButton gamingButton">
            {% include "partials/gaming_icon.tmpl" %}
             Gaming Facebook Group
           </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
      </section>

      <section class="objective third" id="build-and-socialize" data-section="3">    
        <div class="bg" data-wide="img/bg/hacknights.jpg" data-narrow="img/bg/support2.jpg" /></div>  
        <h1>Build &amp; Socialize with Cool People</h1>
        <div class="initiative">
          <h2 class="h3">Hack Nights</h2>
          <p>Designers, developers, and makers of all sorts coming together to hang out, work on their projects and get to know each other. All experience levels welcome!</p>
          <p>(You&rsquo;ll be notified of relevant Hack Nights events if you&rsquo;re a member of either our <a href="{{channels.Programming.facebook}}">Programming Facebook Group</a> or our <a href="{{ channels.Design.facebook }}">Design Facebook Group</a>.)</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Designathons</h2>
          <p>Over the course of a weekend, work with a team to produce a refined, well-researched design concept for a product of your choice.</p>          
            <a href="{{channels.Design.facebook }}" class="flatButton designButton">
              {% include "partials/design_icon.tmpl" %}
               Design Facebook Group
            </a> <small class="caption">Join to be notified of upcoming events.</small>
        </div>
      </section>

      <section class="objective fourth" id="latest-in-tech" data-section="4">
        <div class="bg" data-wide="img/bg/demo2.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Follow the Latest in Tech</h1>
        <div class="initiative">
          <h2 class="h3">Startup Series</h2>
          <p>Monthly speaker and networking events on topics from innovations in tech to venture capital fundraising. We bring in the best and brightest to share their stories, challenges, and triumphs. Past speakers include Dennis Crowley of Foursquare, David Karp of Tumblr, Scott Heiferman of Meetup, David Tisch of Box Group, and Chris Dixon of Andreessen Horowitz.</p>
        </div>

        <div class="initiative">
          <h2 class="h3">Demo Days</h2>
          <p>Students from all over NYC show off hacks or projects they’ve been working on. Demo your work, get inspired, or meet other students doing incredible things. We&rsquo;ve hosted events at Stack Exchange, Spotify, TechStars and more.</p>
          <a href="http://ship.techatnyu.org/#demodays" class="flatButton demoingButton">
            {% include "partials/demo_icon.tmpl" %}
             Browse Prior Demos
          </a>
        </div>  
        <!-- ADD BACK DIGEST HERE ONCE IT'S GONE ON EVENT CALENDAR SCREEN. BUT, FOR NOW, IT DOESN"T NEED TO BE IN THREE PLACES.
        <div class="initiative">
            <h2 class="h3">Event Digest</h2>
            <p>Our bi-weekly email of the top tech design, and entrepreneurship events around the city, subscribed to by over 4,000 people.</p>
            <form class="content singleLineForm">
            <input type="email" placeholder="Enter your email address..." class="mainField" /><input type="submit" value="Subscribe" class="submitButton" />
          </form>
        </div>
      -->
      </section>

      <section class="objective fifth" id="about" data-section="5">
        <div class="bg" data-wide="img/bg/team.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>About Us</h2>
        <div class="initiative">
          <ul class="optionList">
            <li><h2 class="h3"><a href="https://tech-nyu.squarespace.com/team/">Our Team</a></h2></li>
            <li><h2 class="h3"><a href="http://ship.techatnyu.org/">What We&rsquo;ve Made</a></h2></li>
            <li><h2 class="h3"><a href="https://tech-nyu.squarespace.com/job-board/">Job Board</a></h2></li>
          </ul>
        </div>

        <div class="initiative">
          <h2 class="h3">On Social Networks&hellip;</h2>
          <p>Follow us on <a href="https://twitter.com/techatnyu">Twitter</a>, like us on <a href="https://www.facebook.com/TechatNYU">Facebook</a>, or follow us on <a href="http://techatnyu.tumblr.com">Tumblr</a>.</p>
        </div>

        <div class="initiative">
            <h2 class="h3">Contact</h2>
            <p>For sponsorships, email <a href="mailto:emanuel.hahn@stern.nyu.edu">emanuel.hahn@stern.nyu.edu</a>. For all other inquiries, please email <a href="mailto:hello@techatnyu.org">hello@techatnyu.org</a></p>
        </div>

        <div id="poweredby">
          <h2 class="h3">Our Awesome Supporters</h2>
          <ol id="carousel">
            {% for sponsor in sponsors %}
              <li>
                {% if sponsor.url %}
                  <a href="{{sponsor.url}}">
                {% endif %}
                  <img src="img/sponsors/resized/{{sponsor.img}}" alt="{{sponsor.name}}" />
                {% if sponsor.url %}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </div>
      </section>

      <section class="objective sixth" id="event-calendar" data-section="6">
        <div class="bg" data-wide="img/bg/support3.jpg" data-narrow="img/bg/support2.jpg" /></div>
        <h1>Event Calendar</h2>
        <p>A full-featured calendar is coming soon but, for now, the best way to stay up on our events is to join one or more of our facebook groups, or sign up for our digest.</p>
        <br/>
        <div class="initiative">
          <h2 class="h3">Facebook Groups</h2>
          <ul style="list-style-type:none;">
            <li><a href="{{channels.Programming.facebook }}">Programming</a></li>
            <li><a href="{{channels.Design.facebook }}">Design</a></li>
            <li><a href="{{channels.Gaming.facebook }}">Gaming</a></li>
            <li><a href="{{channels.Business.facebook }}">Business</a></li>
          </ul>
        </div>
        <div class="initiative">
            <h2 class="h3">Event Digest</h2>
            <p>Our bi-weekly email of the top tech design, and entrepreneurship events around the city, subscribed to by over 4,000 people.</p>
            {{ mailChimpForm(includeCaption=false) }}
        </div>
      </section>
    </div>
  </div>
  <div class="bg starter" data-wide="img/bg/sqsp2.jpg" data-narrow="img/bg/support2.jpg" /></div>
  <script type="text/javascript">
    /*$(function() {

      $window.scroll(function(event) {
        var scrollTop = $window.scrollTop(),
            now = new Date(),
            hash = window.location.hash;

        if(typeof firstScrollTime == 'undefined') {
          firstScrollTime = new Date();
        }

        if(scrollTop > sectionOneScrollPos && Math.abs(now.getTime() - firstScrollTime.getTime()) < 50 && hash == '') {
          $('html, body').animate({"scrollTop": sectionOneScrollPos}, Math.abs(scrollTop - sectionOneScrollPos)/10);
          event.preventDefault();
        }
      });

    });*/
  </script>
{% endblock %}
  