{% macro mailChimpForm(extraClassesString='', id=null, includeCaption=true) %}
  <form 
    action="//mailtrain.tnyu.org/subscription/ryeVfPjte" 
    method="get" name="mc-embedded-subscribe-form" novalidate 
    class="singleLineForm {{extraClassesString}}"{% if id %} id="{{id}}"{% endif %}>
      <div style="position: absolute; left: -50000px;"></div>
      <input type="email" name="email" class="email mainField" placeholder="Enter your email address..." class="mainField" required />
      <input type="submit" value="Sign Up" class="submitButton" name="subscribe" />
      {%if includeCaption %}
        <p class="caption hidden">Every other week, you&rsquo;ll get a digest of the best tech, design, and entreprenuership events in NYC.</p>
      {% endif %}
  </form>
{% endmacro %}
