<script>
    var _gaq=[["_setAccount","{{ gaKey }}"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    s.parentNode.insertBefore(g,s)}(document,"script"));
</script>