
@import "lib/responsive";
@import "lib/util";
@import "breakpoint";

/******************** COLORS ********************/

$background: #FFF;
$textColor: #333;
/* Alt yellow, better for big areas: hsl(44, 86%, 56%) */ 
$sectionColors: hsl(14, 68%, 51%) hsl(43, 90%, 50%) hsl(276, 48%, 35%) hsl(140, 74%, 37%) hsl(218, 66%, 36%) hsl(0, 0%, 10%);
$navActiveTextColor: hsl(0,0%,97%);
$navInactiveTextColors: hsl(13, 2%, 16%), hsl(42, 0%, 16%), hsl(278,3%,60%), hsl(140, 0%, 20%), hsl(214, 4%,65%), hsl(0,0%,58%);


/********** BASIC TYPORGRAPHY **********/

$hyphenate-body: false;
$use-opentype-features: true;

$headingStack: "ff-meta-web-pro";
$bodyStack: $headingStack; //"franklin-gothic-urw";


/*************** RWD ******************/
@include rsConfigure((
    scale:       13px 16px 19px 24px 30px 36px 44px 58px 64px,
    lineHeights: 19px 22px 24px 29px 42px 47px 60px,
    baseFontSize: 19px,
    baseLineHeight: 27px,
    baseMeasureWidth: 500px, //the measure based on which the baseLineHeight was chosen.
    designs: (
        (
            name: mobile,
            baseWidth: 320px,
            minWidth: 0px,
            maxWidth: 919px
        ),
        (   name: desktop,
            baseWidth: 1010px,
            minWidth: 920px,
            maxWidth: 1400px,
            shrinkTransforms: (zoom),
            growTransforms: (zoom, zoom, stretch, stretch) //actually tested. two zooms is right.
        )
    )
));


/******************* WIDTHS ********************/

$outerPaddingPx: 25px;
$outerPadding: ($outerPaddingPx/map-get($rsConfig, baseFontSize))*1em;

$homepageLeftColWidth: 20.25em;

$logoStartColor: hsl(0,0, 95%);
$logoEndColor: hsl(0, 0, lightness(nth($navInactiveTextColors, 1)));

$logoStartWidth: 200px;
$logoAspectRatio: 3.2558;
$logoStartHeight: $logoStartWidth/$logoAspectRatio;
$logoEndWidth: 115px;
$logoEndHeight: $logoEndWidth/$logoAspectRatio;

//types of elements. useful for setting margins etc
$sectioning-elements: section, article, nav;

@mixin to-in-flow-elems {
	p, dl, ol, ul, li, dl, dt, dd, blockquote, figure, pre, table {
		@content;
	}
}

@mixin to-sectioning-elems {
	article, section, header, footer, nav {
		@content;
	}
}

@mixin flex-container($inline: false, $wrap: true) {
  @if $inline==false {
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  
  @if $wrap == true {
     flex-wrap: wrap;
  }
}

/** Supported types: lining, tabular, oldstyle */
@mixin numeral-type($type: lining) {

	$short: if($type=='lining', l, if($type=='tabular', t, o)); //next version: str-slice($type,0,1);
 
	font-variant-numeric: #{$type}-nums; 
	-moz-font-feature-settings: "#{$short}num=1"; 
	-ms-font-feature-settings: "#{$short}num"; 
	//-webkit-font-feature-settings: "#{$short}num";  //can't use this or chrome starts bugging out.
	-o-font-feature-settings: "#{$short}num";
	font-feature-settings: "#{$short}num";
}