
html {
  color: $textColor;
}

body {
  font-family: $bodyStack;
  font-weight: 300;
  margin: 0 auto;
}

p {
    max-width: 35em;
    font-size: fontSize(3);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { 
  font-weight: bold;
  font-family: $headingStack;
}

h2, .h2 {
  @include rs((
    font-size: nth($scale, 5)
  ));
}

h3, .h3 {    
  @include rs((
    font-size: nth($scale, 4),
    line-height: nth($lineHeights, 4)
  ));
  letter-spacing: .2px;
}

h4, .h4 {
  font-size: fontSize(3);
  letter-spacing: -.02em;
}

h5, .h5 {  
  @extend %captionSize;
}

h6, .h6 {
  font-size: fontSize(1);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.2em;
}

a {
  color: inherit;
}

input {
  @include rs((
    font-size: nth($scale, 1)
  ));
}

nav {
  $navFlagWidths: ems(178px) ems(130px) ems(185px) ems(155px) ems(95px);
  $totalFlagsWidth: sum($navFlagWidths) + ems($logoEndWidth+$outerPaddingPx/2);
  $calendarFlagWidth: ems(46px) + 1.5*$outerPadding;
  $navMaxWidth: $totalFlagsWidth + $calendarFlagWidth + ems(100px);

  position: fixed;
  top: 0;
  width: 100%;
  color: $navActiveTextColor;
  @include rs((
    height: 67px
  ));

  ol {
    position: fixed;
    right: 0;
    @include rs((
      left: $outerPaddingPx
    ));
    margin-right: auto;
    max-width: 75rem;
    z-index: 1;
    padding-right: $calendarFlagWidth;
  }

  li {
    z-index:4;
    @include rs((
      font-size: 20px !important,
      line-height: nth($lineHeights, 3) !important,
      height: 67px,
      padding-top: 8px
    ));

    &:first-child {
      margin-left: (ems($logoEndWidth+$outerPaddingPx/2)/$totalFlagsWidth)*100%;
    }

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        width: (nth($navFlagWidths, $i)/$totalFlagsWidth)*100%;
        background-color: nth($sectionColors, $i);
      }
    }

    &.calendar {
      width: $calendarFlagWidth;
      background-color: nth($sectionColors, 6);
      position: absolute;
      right:0;
      @include rs((
        padding-left: $outerPaddingPx/2
      ));
      svg {
        @include rs((
          font-size: 20px !important
        ));
        path {
          fill: $navActiveTextColor;
        }
        width: ems(46px);
        height: ems(60px); 
        margin-top: ems(-7px);
        margin-left: ems(-1px);
      }
    }
  }
}