.event {
  &.with-flatButton {
    padding-right: 4.05em;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .flatButton {
    width: ems(66px, nth($scale, 2));
    height: ems(66px, nth($scale, 2));
    background: transparent; 
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    @include rs((
      font-size: nth($scale, 2),
      line-height: nth($lineHeights, 1) !important,
      margin-top: -33px,
      top: 50%,
      right: 0
    ));
    position: absolute;
    color: inherit;
    line-height: inherit;
    padding: .35em .5em;
  }
}

.promoPanel {
  &:last-child {
    padding-bottom: 0;
  }
}

.singleLineForm {
  .caption {
    padding-top: .25rem;
    margin-right: -1*5em*($baseFontSize/nth($scale, 1))*nth($scale, 1)/nth($scale, 2);
  }
}

.h3.calendar {
  font-size: 1em !important; //needs to act like a container not a heading.
}

@each $index, $section in (1: first, 2: second, 3: third, 4: fourth, 5: fifth) {
  #{'.' + $section} a {
    color: nth($sectionColors, $index);
    fill: nth($sectionColors, $index);
    stroke: nth($sectionColors, $index);
  }

  #{'.' + $section} .flatButton:hover {
    background-color: nth($sectionColors, $index);
  }
}

.sixth a { 
  color: nth($sectionColors, 5);    
  fill: nth($sectionColors, 5);
  stroke: nth($sectionColors, 5);
}


nav {
  .optionList li:first-child {
    @include rs((
      padding-left: $outerPaddingPx/2
    ));
  }
}