.promoPanel {
  font-weight: 400;
  border-top: 3px solid hsl(17, 15%, 20%);
  padding:2px 1px .85em;

  .content {
    padding-top: .5em;
  }
}

.logo {

}

.tagline {
  line-height: 1.4em;
  padding: $logoStartHeight*1.45 $outerPadding+.2em 0 $outerPadding+.1em;
  box-sizing: border-box;
  font-family: $headingStack;
  color: $logoStartColor;
  @extend %reversedType;
}

.flatButton {
  
}

.objective {
  display: none !important;
}

/* Notes: List of choosable options, like in a nav or toolbar. Required Markup:
   <* class="optionList"><li (or class="li")>This option</li></*>. Each "li" usually has an <a> */
.optionList {
  list-style-type: none;
  .li, li {
    float:left;
    padding-bottom:0;
    padding-right: $outerPadding*.6666;
    padding-left:  $outerPadding*.6666; 

    &:last-child {
      margin-right:0 !important;
    }
  }

  @extend %clearfix;
}