.promoPanel {
  font-weight: 400;
  @include rs((
    padding:2px 1px 18px,
    border-top: 3px solid hsl(17, 0%, 14%)
  ));

  .content {
    @include rs((padding-top: 10px));
  }
}

@mixin singleLineForm($buttonSize: 5em, $baseFontSize: $baseFontSize) {
  padding-right: $buttonSize;
  .mainField {
    width: 100%;
    float: left;
  }

  .submitButton {
    margin-left: .25em*($baseFontSize/nth($scale, 1));
    width: ($buttonSize - .25em)*($baseFontSize/nth($scale, 1));
    margin-top: 0;
    margin-right: -1*$buttonSize*($baseFontSize/nth($scale, 1));
  }
}

.singleLineForm {
  @include singleLineForm;
}

.event {
  display: block;
  position: relative;

  @include rs((
    margin-bottom: 4px,
    padding: 0px 0 10px
  ));

  .title {
    display: block;
  }

  .more {
    text-decoration: underline;
  }
}

.objective {
  @include rs((
    padding: $outerPaddingPx
  ));
  width: 100%;
  box-sizing: border-box;
}

.flatButton {
  font-family: inherit;
  font-size: 1em;
  line-height: 1em; //padding does all the height work.
  font-weight: 400;
  text-decoration: none;

  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: .6rem;
  padding: .45rem .7rem .55rem;

  //svg is optional
  svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: 2px;
    display: inline-block;
  }
}

.icon-button, .icon-button:active {
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  background-color: transparent;
}

.circuitButton {
  padding: .35rem .7rem .65rem;
  svg {
    left: -2px;
    top: 3px;
  }

  &:hover {
    color: $navActiveTextColor;
    background-color: nth($sectionColors, 1);
    path:first-child {
      fill: $navActiveTextColor;
    }
    path:last-child {
      fill: nth($sectionColors, 1);
    }
  }
}

.programmingButton {
  padding: .1rem .7rem .65rem;
  svg {
    left: -2px;
    margin-right:1px;
    height: 1.2em;
    stroke-width: .85em;
    @include rs((top: 6px));
  }

  &:hover {
    color: $navActiveTextColor;
    path {
      stroke: $navActiveTextColor;
      fill: $navActiveTextColor;
    }
  }
}

.designButton {
  padding: .5rem .7rem .65rem;
  svg {
    left: -2px;
    margin-right: 3px;
    height: .9em;
    width: .9em;
  }

  &:hover {
    color: $navActiveTextColor;
    polygon {
      fill: $navActiveTextColor;
    }
  }
}

.gamingButton {
  padding: .35rem .7rem .6rem;
  svg {
    left: -2px;
    margin-right: 3px;
  }

  &:hover {
    color: $navActiveTextColor;
    path {
      fill: $navActiveTextColor;
    }
  }
}

.demoingButton {
  padding: .35rem .7rem .55rem;  
  svg {
    left: -2px;
    margin-right: 3px;
  }

  &:hover {
    color: $navActiveTextColor;
    path, polygon {
      fill: $navActiveTextColor;
    }
  }
}

/* Notes: List of choosable options, like in a nav or toolbar. Required Markup:
   <* class="optionList"><li (or class="li")>This option</li></*>. Each "li" usually has an <a> */
.optionList {
  list-style-type: none;
  .li, li {
    float:left;
    padding-bottom:0;
    @include rs((
      margin-right: $outerPaddingPx
    ));

    &:last-child {
      margin-right:0 !important;
    }
  }

  @extend %clearfix;
}

.bg {
  background-size: cover;
  background-position: center center;
}

.initiative {
  @include rs((
    margin-bottom: nth($lineHeights, 5)
  ));
}

.announcements {
  background-color: white;
  border: 2px solid rgb(98, 46, 132);
  position: fixed;
  z-index: 100;
  top: 4em;
  left: 0;
  right: 0;
  @include rs((padding: 14px));

  .announcement {
    max-width: none;

    .close {
      background-image: url("/img/close.png");
      width: 12px;
      height: 15px;
      display: inline-block;
      @include rs((padding-right: 14px));
      vertical-align: middle;
    }
  }

  a {
    color: #d7552d;
  }
}

/* Linkify the Startup Week image using tricks from this SO question:
 * http://stackoverflow.com/questions/796087/make-a-div-into-a-link
 */
.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, make sure you have an empty gif
       background-image: url('empty.gif'); */
  background-image: url('img/empty.gif');
}

