.promoPanel {
  font-weight: 400;
  @include rs((
    padding:2px 1px 18px,
    border-top: 3px solid hsl(17, 0%, 14%)
  ));

  .content {
    @include rs((padding-top: 10px));
  }
}

@mixin singleLineForm($buttonSize: 5em, $baseFontSize: $baseFontSize) {
  padding-right: $buttonSize;
  .mainField {
    width: 100%;
  }

  .submitButton {
    margin-left: .25em*($baseFontSize/nth($scale, 1));
    width: ($buttonSize - .25em)*($baseFontSize/nth($scale, 1));
    margin-top: 0;
    margin-right: -1*$buttonSize*($baseFontSize/nth($scale, 1));
  }
}

.singleLineForm {
  @include singleLineForm;
}

.event {
  display: block;
  position: relative;

  @include rs((
    margin-bottom: 4px,
    padding: 0px 0 10px
  ));

  .title {
    display: block;
  }

  .more {
    text-decoration: underline;
  }
}

.objective {
  @include rs((
    padding: $outerPaddingPx
  ));
  max-width: 100%;
  box-sizing: border-box;
}

.flatButton {
  font-family: inherit;
  font-size: 1em;
  line-height: 1em; //padding does all the height work.
  font-weight: 400;
  text-decoration: none;

  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: .6rem;
  padding: .65rem .7rem .75rem;
}


/* Notes: List of choosable options, like in a nav or toolbar. Required Markup:
   <* class="optionList"><li (or class="li")>This option</li></*>. Each "li" usually has an <a> */
.optionList {
  list-style-type: none;
  .li, li {
    float:left;
    padding-bottom:0;
    @include rs((
      padding-right: $outerPaddingPx*.5,
      padding-left: $outerPaddingPx*.5
    ));

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right:0 !important;
    }
  }

  @extend %clearfix;
}

.bg {
  background-size: cover;
  background-position: center center;
}

.initiative {
  margin-bottom: 2rem;
}
