/* This CSS informed heavily by: Nicole Sullivan, Eric Meyer, Yahoo YUI Team, Nicolas Gallagher, Paul Irish, and many others. */
@import "base";
@import "reset_normalize_slim";
@import "traits";
@import "elems";
@import "objects";
@import "interactions";
@import "unique_and_todo";

//third-party components
@import "../scripts/bower_components/flexisel/css/style.css";

@include scalers;

//import the basic styles for each design
@media (max-width: map-get(nth($rsDesigns,1), maxWidth)), (max-height:620px), (min-aspect-ratio:1501/750) {
    @import "mqSpecific/phone";

    body, nav ol {
        max-width: 646px;
    }

    nav ol {
        position: relative;
    }

    #nav-dropdown {
        max-width: (646px - (2*10px*(20/19))); //-2*10px for each of the extra "gutters" on the edges, scaled for the font size.
    }
}

@media (min-width: map-get(nth($rsDesigns,2), minWidth)) and (min-height:621px) and (max-aspect-ratio: 1500/750) {
    @import "mqSpecific/desktop";
}


//for the mobile design, set the base font-size to 16px with a scaler.
@media (min-width: 0px) and (max-width: 286px) {
    @include stretcher(14px, 17px);
}

@media (min-width: 287px) and (max-width: 304px) {
    @include stretcher(15px, 19px);
}

@media (min-width: 305px) and (max-width: 336px) {
    @include stretcher(15px, 20px);
}

//a minor breakpoint to give the nav a touch more room 
@media (max-width: 336px) {
    nav ol, #logo {
        margin-left: -8px;
    }

    .calendar {
        right: -8px !important;
        margin-top: -1px; //fix an optical or rounding error
    }
}

@media (min-width: 337px) and (max-width: 353px) {
    @include stretcher(16px, 22px); 
}

@media (min-width: 354px) and (max-width: 380px) {
    @include stretcher(16px, 23px);
}

@media (min-width: 381px) and (max-width: 450px) {
    @include stretcher(17px, 25px);
}

@media (min-width: 451px) and (max-width: 500px) {
    @include stretcher(18px, 27px);
}

@media (min-width: 501px) and (max-width: 558px) {
     @include stretcher(19px, 28px);
}

@media (min-width: 559px) and (max-width: 586px) {
    @include stretcher(19px, 29px);
}

@media (min-width: 587px) and (max-width: 919px) {
    @include stretcher(20px, 29px);
}

@media (min-width: 920px) and (max-width: 977px) {
    @include stretcher(17px, 24px);

    #upcoming-inner, #info-inner {
        font-size: (1/.89474)*1em;
    }
}

@media (min-width: 978px) and (max-width: 1019px) {
    @include stretcher(18px, 26px);

    #upcoming-inner, #info-inner {
        font-size: (1/.94737)*1em;
    }
}

@media (min-width: 1064px) {
    @include stretcher(20px, 28px);
}

@media (min-width: 1200px) {
    @include stretcher(21px, 30px);
    nav li a {
        position: relative;
        top: 1px; //an optical corrction for zooming.
    }
}

@media (min-width: 1400px) {
    //@todo make nav a bit bigger manually here
    //since we can't push the design's global
    //font size above 21px (things look ugly)
    //but we don't want to have so much horiz
    //space around each nav item.
}