/* This CSS informed heavily by: Nicole Sullivan, Eric Meyer, Yahoo YUI Team, Nicolas Gallagher, Paul Irish, and many others. */
@import "base";
@import "reset_normalize_slim";
@import "traits";
@import "elems";
@import "objects";
@import "interactions";
@import "unique_and_todo";

@include scalers;

//import the basic styles for each design
@media (max-width: map-get(nth($rsDesigns,1), maxWidth)), (max-height:620px), (min-aspect-ratio:2/1) {
    @import "mqSpecific/phone";

    body, nav ol {
        max-width: 646px;
    }
    nav ol {
        position: relative;
    }
}

@media (min-width: map-get(nth($rsDesigns,2), minWidth)) and (min-height:620px) and (max-aspect-ratio: 2/1) {
    @import "mqSpecific/desktop";
}


//for the mobile design, set the base font-size to 16px with a scaler.
@media (min-width: 0px) and (max-width: 286px) {
    @include stretcher(14px, 17px);
}

@media (min-width: 287px) and (max-width: 304px) {
    @include stretcher(15px, 19px);
}

@media (min-width: 305px) and (max-width: 336px) {
    @include stretcher(16px, 20px);
}

//a minor breakpoint to give the nav a touch more room 
@media (max-width: 336px) {
    nav ol, #logo {
        margin-left: -8px;
    }

    .calendar {
        right: -8px !important;
        margin-top: -1px; //fix an optical or rounding error
    }
}

@media (min-width: 337px) and (max-width: 353px) {
    @include stretcher(17px, 23px); 
}

@media (min-width: 354px) and (max-width: 371px) {
    @include stretcher(18px, 25px);
}

@media (min-width: 372px) and (max-width: 480px) {
    @include stretcher(18px, 26px);
}

@media (min-width: 481px) and (max-width: 530px) {
    @include stretcher(19px, 27px);
}

@media (min-width: 531px) and (max-width: 558px) {
    @include zoomer(20px);
}

@media (min-width: 559px) and (max-width: 586px) {
    @include zoomer(21px);
}

@media (min-width: 587px) and (max-width: 645px) {
    @include stretcher(21px, 32px);
}

@media (min-width: 920px) and (max-width: 977px) {
    @include stretcher(17px, 25px);

    #upcoming-inner, #info-inner {
        font-size: (1/.89474)*1em;
    }
}

@media (min-width: 978px) and (max-width: 1019px) {
    @include stretcher(18px, 27px);

    #upcoming-inner, #info-inner {
        font-size: (1/.94737)*1em;
    }
}

@media (min-width: 1064px) {
    @include stretcher(20px, 28px);
}

@media (min-width: 1200px) {
    @include stretcher(21px, 29px);
    nav {
        @include rs((
            height: 70px
        ));

        li {   
            @include rs((
                height: 70px,
                padding-top: 10px
            ));
        }
    }

    #logo {
        @include rs((
            padding-top: 5px
        ));
    }
}

@media (min-width: 1400px) {
    @include stretcher(21px, 30px);
}

//counteract the above two mqs for the homepageLeft col
//if we don't have enough height
@media (min-width: 1200px) and (max-height: 900px) {
    #upcoming-inner, #info-inner {
        font-size: (20/21)*1em;
    }
}