@import "base";

$headerAnimEnd: 350;
$navCascadeStart: 150;
$navCascadeEnd: $headerAnimEnd - 20;
$leftColOut: $navCascadeStart;

$navAnimation: "cascadeDown"; //can be TOCUp or cascadeDown

//$navCascadeStart + $navCascadeItemDelay*5 + $navCascadeDrop; must add up to $navCascadeEnd
$navCascadeItemDelay: 32; 
$navCascadeDrop: 20;


$onPanelPause: 85;
$interPanelDistance: 100;
$firstPanelExtraPause: 120;
$firstPanelUpStart: $navCascadeEnd - 165;
$firstPanelUpEnd: $firstPanelUpStart + $interPanelDistance;


@mixin ease($property, $easing, $value) {
   #{$property + "["+ $easing + "]"}: $value;
}

@-skrollr-keyframes taglineOut {
    0 {
        position: absolute;
        top: 0;
        @include ease(left, sqrt, 0%);
        width: 100%;
    }

    #{$leftColOut} {
        @include ease(left, sqrt, -100%);
    }
}

@-skrollr-keyframes bgCoverupHide {
    0 {
        @include ease(right, sqrt, 0%);
        left: 0%;
    }

    #{$leftColOut} {
        //top:100%;
        @include ease(right, sqrt, 100%);
    }
}

@-skrollr-keyframes upcomingOut {
    0 {
        @include ease(bottom, sqrt, 0em);
    }

    #{$leftColOut} {
        @include ease(bottom, sqrt, -1*$upcomingHeight);
    }
}

@-skrollr-keyframes logoToTopLeft {
    0 {
        @include ease(top, sqrt, $logoStartTop);
        @include ease(background-color, swing4, toRgbString($logoStartBackground,  true));
        @include ease(width, cubedroot, $logoStartWidth);
        padding-left: $outerPadding + 2px;
        padding-right: $outerPadding + 2px;
    }

    #{$navCascadeEnd - 50} {
        @include ease(top, sqrt, 0em);
        @include ease(background-color, swing4, toRgbString($logoEndBackground, true));
        @include ease(width, cubedroot, $logoEndWidth);
        padding-left: $outerPadding;
        padding-right: $outerPadding;
    }

    #{$headerAnimEnd - 1} {
        dummy: true;
    }
    #{$headerAnimEnd} {
        background-color: toRgbString(transparentize($logoEndBackground, 1), true);
    }
}

$colorChangeStartDelay: 65;

@-skrollr-keyframes logoRestyleToTopBar {
    0 {
        @include ease(fill, sqrt, toHslString($logoStartColor));
    }
    #{$navCascadeEnd - 50} {
        @include ease(fill, sqrt, toHslString($logoEndColor));
    }

    @for $i from 1 through 5 {
        @if($i==1) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause)} {
            fill: toHslString(nth($navInactiveTextColors, $i+1));
          }
        }
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause) + $onPanelPause + $colorChangeStartDelay} {
            dummy: true;
          }
        @if($i!=5) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + ($i+1)*($interPanelDistance + $onPanelPause)} {
            fill: toHslString(nth($navInactiveTextColors, $i+2));
          }
        }
    }    
}


@-skrollr-keyframes calendarSetHeaderColor {
    #{$navCascadeEnd - $navCascadeDrop} {
        fill: toHslString($navActiveTextColor);
    }

    #{$navCascadeEnd} {
        fill: toHslString(nth($navInactiveTextColors, 1));
    }

    @for $i from 1 through 4 {
        @if($i==1) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause)} {
            fill: toHslString(nth($navInactiveTextColors, $i+1));
          }
        }
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause) + $onPanelPause + $colorChangeStartDelay} {
            dummy: true;
          }
        @if($i!=5) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + ($i+1)*($interPanelDistance + $onPanelPause)} {
            fill: toHslString(nth($navInactiveTextColors, $i+2));
          }
        }
    }
}

@-skrollr-keyframes headerAddBoxShadowAndColorChange {
    #{$navCascadeEnd} {
        top: 0px;
        min-width: $totalFlagsWidth + $calendarFlagWidth + $logoEndWidth + 2*$outerPadding;
        @include ease(box-shadow, sqrt, hsla(0, 0%, 25%, 0.7) 0px 0px 0px 0px);
        background-color: rgba(0,0,0,0);
    }
    #{$headerAnimEnd} {
        @include ease(box-shadow, sqrt, hsla(0, 0%, 25%, 0.6) 0px 0px 2px 1px);
        background-color: toRgbString(nth($sectionColors, 1), true);
    }
    
    #{$firstPanelUpEnd + $firstPanelExtraPause + $onPanelPause} {
       dummy: true;
    }

    @for $i from 1 through 5 {
        @if($i==1) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause)} {
            background-color: toRgbString(nth($sectionColors, $i+1), true);
            color: toRgbString(nth($navInactiveTextColors, $i+1), true);
          }
        }
          #{$firstPanelUpEnd + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause) + $onPanelPause + $colorChangeStartDelay} {
            dummy: true;
          }
        @if($i!=5) {
          #{$firstPanelUpEnd + $firstPanelExtraPause + ($i+1)*($interPanelDistance + $onPanelPause)} {
            background-color: toRgbString(nth($sectionColors, $i+2), true);
            color: toRgbString(nth($navInactiveTextColors, $i+2), true);
          }
        }
    }
}

@-skrollr-keyframes scrollCueFadeOut {
    #{$firstPanelUpStart} {
        opacity: 1;
    }
    #{$firstPanelUpEnd} {
        opacity: 0;
    }
}

@-skrollr-keyframes sectionStarter {
  #{$firstPanelUpStart} {
    top: 100%;
    position: fixed;
    margin-top: 0px;
  }

  #{$firstPanelUpEnd} {
    top: 0%;
    position: fixed;
    margin-top: $headerAnimEnd+"px";
  }

  #{$firstPanelUpEnd + 1} {
    position: static;
  }
}

@for $i from 1 through 6 {
    @-skrollr-keyframes navCascadeDown-#{$i} {
        #{$navCascadeStart + ($i - 1)*$navCascadeItemDelay} {
            @include ease(margin-top, sqrt, -80px);

            //calendar must invert as it's falling down, not after
            //because there is no next element to drop
            @if($i==6) { 
                background-color: toRgbString(nth($sectionColors,$i), true);
                //color: toHslString($navActiveTextColor);
            }
        }

        #{$navCascadeStart + ($i - 1)*$navCascadeItemDelay + $navCascadeDrop} {
            @include ease(margin-top, sqrt, 0px);
            background-color: toRgbString(nth($sectionColors,$i), true);
            //color: toHslString($navActiveTextColor);

            @if($i==6) {
                background-color: toRgbString(nth($sectionColors, 1), true);
            }
        }

        #{$navCascadeStart + ($i - 1)*$navCascadeItemDelay + $navCascadeDrop + 20} {
            dummy: true;
        }

        @if($i!=6) {
            #{$navCascadeStart + $i*$navCascadeItemDelay + $navCascadeDrop} {
               background-color: toRgbString(nth($sectionColors, 1), true);
               //@if($i!=1) { color: toHslString($navInactiveTextColor); }
            }
        }

        #{$headerAnimEnd} {
           background-color: toRgbString(nth($sectionColors, 1), true);
        }

        #{$headerAnimEnd+1} {
           background-color: toRgbString(transparentize(nth($sectionColors, 1), 1), true);
        }
    }

    @if($navAnimation=="cascadeDown") {
        nav li:nth-of-type(#{$i}) {
          -skrollr-animation-name: navCascadeDown-#{$i};
        }
    }

    @-skrollr-keyframes panel-#{$i}-in {
        0 {
            top: 100%;
            margin-top:0px;
        }

        #{$firstPanelUpStart + ($i - 1)*($interPanelDistance + $onPanelPause) + if($i!=1, $firstPanelExtraPause, 0)} {
            blank: true;
        }

        #{$firstPanelUpStart + $interPanelDistance + ($i - 1)*($interPanelDistance + $onPanelPause) + if($i!=1, $firstPanelExtraPause, 0)} {
            top: 0%;
            margin-top: 120px;
        }

        #{$firstPanelUpStart + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause)} {
            blank: true;
        }
    }

    @-skrollr-keyframes panel-#{$i}-out {
        #{$firstPanelUpStart + $firstPanelExtraPause + $i*($interPanelDistance + $onPanelPause) + $interPanelDistance} {
            top: -100%;
            margin-top:0px;
        }
    }

    $animStartDelay: 20;
    @-skrollr-keyframes photo-#{$i} {
      //tell the sass compiler these vars will exist.
      $startKf: 0;
      $preShowStayKf: dummy;
      $showKf: dummy;
      $stayKf: dummy;
      $hideKf: dummy;
      $easing: if($i==2, swing5, linear);

      @if($i==1) {
        $showKf: 0;
        $hideKf: $navCascadeEnd+50;
      } 
      @else {
        $preShowStayKf: $firstPanelUpStart + ($i - 2)*($interPanelDistance + $onPanelPause) + $firstPanelExtraPause;
        $showKf: $preShowStayKf + $interPanelDistance - if($i==2, $firstPanelExtraPause, 0);
        $stayKf: $showKf + $onPanelPause + 10 + if($i==2, $firstPanelExtraPause, 0);
        $hideKf: $stayKf + $interPanelDistance;
      }

      $direction: if($i%2==0, left, right);

      #{$startKf} {
        @include ease($direction, $easing, -100%);
        @include ease(top, $easing, 100%);
        @if($direction==left) {
          right: 60%;
        }
      }

      @if($i!=1) {
        #{$preShowStayKf} {
          dummy: true;
        }
      }

      #{$showKf} {
        @include ease($direction, $easing, 0%);
        @include ease(top, $easing, 0%);
        overflow: hidden;
      }

      #{$stayKf} {
        dummy: true;
      }

      #{$hideKf} {
        #{$direction}:-100%;
        top:100%;
        @if($direction==left) {
          right: 60%;
        }
      }
    }

    .objective:nth-of-type(#{$i}) {
        z-index: $i;
        -skrollr-animation-name: panel-#{$i}-in;
        @if($i!=6) {
          -skrollr-animation-name: panel-#{$i}-out;
        }
    }

    .bg:nth-of-type(#{$i + 1}) .img {
        -skrollr-animation-name: photo-#{$i};
    }

    //excluding calendar...
    @if($i!=6) {
        nav ol ul:nth-of-type(#{$i}) {
            max-width: nth($navFlagWidths, $i) - ($outerPadding);
        }
    }
}

nav > ol {
  position: absolute;

  > li {
    margin-top:-80px;
  }

  .calendar path {
    -skrollr-animation-name: calendarSetHeaderColor;
  }
  ul {
    position: absolute;
    z-index: -1;
  }
}

#content {
  //-skrollr-animation-name: sectionStarter;
}

.objective {
    background-color: transparent !important;
}

#header {
  -skrollr-animation-name: headerBarDown;
}

.logo {
  -skrollr-animation-name: logoToTopLeft;
  svg path {
    -skrollr-animation-name: logoRestyleToTopBar;
  }
}

#tagline {
  -skrollr-animation-name: taglineOut;
}

.bg .coverup .mask {
    -skrollr-animation-name: bgCoverupHide;
}
    
.scrollCue {
   -skrollr-animation-name: scrollCueFadeOut;
}

nav {
  -skrollr-animation-name: headerAddBoxShadowAndColorChange;
}

#upcoming {
  -skrollr-animation-name: upcomingOut;
}