.bg {
  top:0;
  bottom:0;
  left: 0;
  right:0;
  position: fixed;
  background-size:cover;
  background-repeat:no-repeat;

  //if flat, but it has an image in it, show that
  .img {
    @if($fixedWidthHomepageLeftCol) {
      left: $homepageLeftColMinWidth;
    }
    @else {
      min-width:70%;
    }
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    right: 0;
  }
  .coverup {
    @if($fixedWidthHomepageLeftCol) {
      width: $homepageLeftColMinWidth;
    }
    @else {
      width: 30%;
      min-width: $homepageLeftColMinWidth;
    }
    top: 0%;
    bottom: 12em;
    height: 100%;
    z-index:3;
    background-color: white;
    position: absolute;

    .mask {
      background-color: nth($sectionColors, 1);        
      position: absolute;
      top: 0;
      bottom:$upcomingHeight;
      right: 0;
    }
  }
}

.bg:not(.starter) {
  .img {
    min-width: 40%;
  }
  .coverup {
    width: 60%;
  }
}

header {
  background-color: transparent;
  z-index: 100;
  width: 100%;
  position: fixed;

  .info {
    @if($fixedWidthHomepageLeftCol) {
      width: $homepageLeftColMinWidth;
    }
    @else {
      width: 30%;
      min-width: $homepageLeftColMinWidth;
    }
    position: absolute;
  }

  .tagline {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 2em;
    margin-top: $logoStartTop;
    letter-spacing: .2px;
    padding: $logoStartHeight*1.45 $outerPadding+4px 0 $outerPadding+2px;
    box-sizing: border-box;
    font-family: $headingStack;
    color: $logoStartColor;
  }

  .logo {
    position: fixed;
    top: $logoStartTop;
    padding:5px $outerPadding+2px 0; //+2px as an optical adjustment
    box-sizing: content-box;
    height: 75px; 
    svg {
      width:100%;
    }
  }

  .bgHolder {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
    opacity: 0;
    background-color: nth($sectionColors, 1);
  }

}

#upcoming {
  position: fixed;
  bottom: 0em;
  left:0;
  z-index: 2;

  box-sizing: border-box;
  height: $upcomingHeight;    
  padding: $outerPadding/1.333 $outerPadding*1.15 $outerPadding/1.375 $outerPadding*.85;

  background-color: hsl(12,1%, 86%);
  color: hsl(17, 15%, 20%);
  
  @if($fixedWidthHomepageLeftCol) {
    width: $homepageLeftColMinWidth;
  }
  @else {
    width: 30%;
    min-width: $homepageLeftColMinWidth;
  }

  //font-family: adelle;
  //font-family: krete;
  font-family: ff-meta-web-pro;
  letter-spacing: .2px;

  button {
    background: transparent;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid hsl(19, 12%, 26%);

    padding: .35em .5em;

    display: block;
    width: auto;
    margin: 0em auto 1em;
  }

  //from version 3.3
  #formWrapper {
    padding-right: 5em;
    margin-top: .4em;

    input {
      padding: .2em;
    }
    input[type=email] {
      width: 100%;
      box-sizing: border-box;
    }
    input[type=submit] {
      width: 6.91em; //4.75*16/11
      margin-top: 0em;
      margin-left: .36em; //.25*16/11
      margin-right: -7.28em;  //5*16/11
    }
  }

  .instructions {
    clear:both;
    padding-top:.25em;
    p {
      font-size:.95em;
      line-height: 1.15em;
    }
  }

  .title {
    display: block;
    letter-spacing: 0px;
  }

  .event {
    padding: .5em 0;
    display: block;
    margin-bottom: .15em;
    line-height: 1.35em;
    position: relative;
    padding-right: 75px;
    > span {
      display: inline-block;
    }
    &:not(.no-icon) .title::after {
      width: 55px;
      height: 55px;
      top: 50%;
      margin-top: -28px;
      border-radius: 30px;
      background-color: #888;
      content: 'icon';
      text-indent: -1000em;
      position: absolute;
      right: 0;
    }

    button {
      right: 0;
      top: 50%;
      margin-top: -30px;
      width: 66px;
      height: 66px;
      border-radius: 33px;
      box-sizing: border-box;
      border-width: 1.5px;
      position: absolute;
      border-color: hsl(19, 4%, 34%);
      color: hsl(19, 4%, 25%);
    }
  }

  .follow {
    .twitter, .fb {
      width: 19px;
      background-image: url(img/twitter-hi.png);
      background-size: 20px auto;
      padding: 0 3px;
    }

    .fb {
      background-image: url(img/fb.png);
    }
    li {
      vertical-align: middle;
      position: relative;
      top:2px;
    }
  }
}

.objective {
  position: fixed;
  height: 100%;
  width: 60%;
  max-width: $navMaxWidth + $logoEndWidth + 2*$outerPadding;
  padding: $outerPadding; //120px for nav bar
  padding-right: 2*$outerPadding;

  &.revealing {
    overflow: hidden;
  }

  &:nth-of-type(2n + 1) {
    margin-left: 40%;
    padding-left: $outerPadding*2;
    padding-right: $outerPadding;
    h2 {
      //margin-right: $outerPadding*-1;
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  > h2 {
    font-size: 2em;
    margin-top:-.6em;
    //margin-bottom:2em;
    //width: 200%;
    //color: white;
    //background-color: #121212;
    //padding: $outerPadding;
    //margin-left: $outerPadding*-1;
    max-width: none;
  }

  .poweredby {
    .initiative {
      height:50px;
      width: 138px;
      img {
        height:50px;
        width: 138px;
        margin-top:-8px;
      }
    }
  }
}


.initiative {
  margin-bottom:2em;
  max-width:20em;

  &:nth-of-type(1) {
    margin-left:0em;
  }
}

.scrollCue {
  position: fixed;
  bottom: 80px;
  left: 65%;
  height: 80px;
  margin-left: -14px;
  background-image: url(img/scrollCue.png);
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 80px;
    //width: 32px;
    //height: 32px;
    //border-bottom: 7px solid;
    //border-left: 7px solid;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  50% {
    bottom: 60px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    bottom: 80px;
    -webkit-animation-timing-function: ease-out;    
    animation-timing-function: ease-out;  
  }
}

@keyframes bounce {
  0% {
    bottom: 80px;
    //width: 32px;
    //height: 32px;
    //border-bottom: 7px solid;
    //border-left: 7px solid;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    bottom: 60px;
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    bottom: 80px;
    -webkit-animation-timing-function: ease-out;    
  }
}

@media (max-width:$homepageLeftColMinWidth*2) {
  //shirnk all type
  html {
    font-size: .9em;
  }

  .bg .coverup, header, .info {
    width: 100% !important;
  }

  .tagline {
    margin-top: 125px !important;
  }

  .scrollCue {
    left: 50% !important;
  }

  #upcoming {
    min-height: 20%;
    width: 100%;
    input[type=email] {
    }
    /*.event:nth-of-type(2) {
      display: block !important;
      margin-right: 0;
    }*/
  }

  .bg .mask {
    top: 0% !important;
    bottom: $upcomingHeight;
  }
}

@media (max-width:$homepageLeftColMinWidth*2) and (min-width:690px) {
    #upcoming #formWrapper {
      margin-top: .5em;
      float: left;
    }

    .event {
      float: left;
      width: 48.5%;
      margin-right: 3%;
    }
    .follow {
      br {
        display: none;
      }
      float: left;
      width: 48.5%;
    }
}

@media (max-width:400px) {
  .logo a, .tagline {
    padding-left: 12px !important;
  }

  .logo a {
    width: 150px !important;
  }

  .tagline {
    margin-top: 90px !important;
    font-size: 1.5em !important;
  }
  #upcoming {
    padding: 10px;
    box-sizing: border-box;
    min-width: 0;

    .follow {
      br {
        display: none;
      }
    }
    #formWrapper {
      margin-top: .5em;
      float: left;
    }
  }
}