#header {
  background-color: transparent;
  z-index: 100;
  width: 100%;
}

#nav {
  z-index: 8;
}

#logo {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  height: ems($logoStartHeight);
  width: ems($logoStartWidth);
  @include rs((
    padding: 4px $outerPaddingPx+2px 2px,
  ));
  svg {
    width:100%;
    path {
      fill: $logoStartColor;
    }
  }
  z-index: 10;
}

#tagline {
  line-height: 1.4em;
  @include rs((
    padding: $logoStartHeight*1.4 $outerPaddingPx+4px 0 $outerPaddingPx+2px
  ));
  box-sizing: border-box;
  font-family: $headingStack;
  color: $logoStartColor;
  @extend %reversedType;
}

#scrollCue {
  position: fixed;
  bottom: 80px;
  left: 65%;
  height: image-height("scrollCue.png") + 35px;
  margin-left: (floor(image-width("scrollCue.png") / 2) + 5px)*-1;
  background-image: image-url("scrollCue.png");
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
  padding: 0 10px;
  z-index: 4; 

  @extend %ir;
}

@include keyframes(bounce) {
  0% {
    background-position: center 10px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  50% {
    background-position: center 25px;
    bottom: 60px;
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    background-position: center 10px;
    -webkit-animation-timing-function: ease-out;    
    animation-timing-function: ease-out;  
  }
}

#upcoming {
  z-index: 2;
  @include rs((
    padding: $outerPaddingPx*1.15 $outerPaddingPx+4px $outerPaddingPx $outerPaddingPx+2px
  ));

  background-color: hsl(12,1%, 86%);
  color: hsl(17, 15%, 20%);
}