#header {
  background-color: transparent;
  z-index: 100;
  width: 100%;
}

#logo {
  box-sizing: content-box;
  position: fixed;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  @include rs((
    padding-left: $outerPaddingPx+2px
  ));
  svg {
    width:100%;
    fill: $logoStartColor;
  }
  z-index: 10;
}

#tagline {
  @include rs((
    padding: 0 $outerPaddingPx+4px 0 $outerPaddingPx+2px
  ));
  box-sizing: border-box;
  font-family: $headingStack;
  @extend %reversedType;
}

@include keyframes(bounce) {
  0% {
    background-position: center 10px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  50% {
    background-position: center 25px;
    bottom: 60px;
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    background-position: center 10px;
    -webkit-animation-timing-function: ease-out;    
    animation-timing-function: ease-out;  
  }
}

#upcoming {
  z-index: 2;
  @include rs((
    padding: $outerPaddingPx*1.15 $outerPaddingPx+4px $outerPaddingPx $outerPaddingPx+2px
  ));
}

.calendar svg {
  fill: inherit; //shouldn't be needed; a chrome bug.
}


//carousel vars
$imagePadding: 10px;
$imageMaxHeight: 215px;
$imageMaxWidth: 215px;

.nbs-flexisel-container {
  @include rs((
    margin-top: $outerPaddingPx/2
  ));
  margin: 0 auto;
  overflow: auto; //clear float. DUH.
  position: relative;
  max-width:100%;
}

.nbs-flexisel-inner {
  position: relative;
  height: $imageMaxHeight;
  overflow:hidden;
  float: left;
  width: 100%;
}

.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    padding: 0 $imagePadding !important;
    height: $imageMaxHeight;
}

.nbs-flexisel-item img {
    cursor: pointer;
    position: relative;
    width: $imageMaxWidth;
    width: calc(100% - #{2*$imagePadding});
    max-width: $imageMaxHeight + 2*$imagePadding;
    height: auto !important;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 0;
    left: $imagePadding;
    box-sizing: content-box;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 25px;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 0 !important;
    background-color: white;
    z-index: 0;
}

.nbs-flexisel-nav-left {
    left: 0px;
    background-image: url(../scripts/bower_components/flexisel/images/button-previous.png);
    background-repeat: no-repeat;
    background-position: 1px center;
}

.nbs-flexisel-nav-right {
    right: 0px;
    background-image: url(../scripts/bower_components/flexisel/images/button-next.png);
    background-repeat: no-repeat;  
    background-position: 5px center;
    box-sizing: content-box;
    @include rs((
      padding-right: $outerPaddingPx
    ));
}