@-skrollr-keyframes taglineOut {
  0 {
    position: absolute;
    top: 0;
    left[sqrt]: 0%;
    font-size: 2em;
    width: 100%; }

  150 {
    left[sqrt]: -100%; } }

@-skrollr-keyframes upcomingOut {
  0 {
    bottom[sqrt]: 0em; }

  150 {
    bottom[sqrt]: -12em; } }

@-skrollr-keyframes headerBarDown {
  420 {
    height[swing]: 0px; }

  300 {
    height[swing]: 80px; } }

@-skrollr-keyframes logoResizeToTopLeft {
  0 {
    top[sqrt]: 13%;
    filter[swing2]: drop-shadow(0 0 4px black) invert(0);
    width: 220px; }

  300 {
    top[sqrt]: 0%;
    filter[swing2]: drop-shadow(0 0 0px black) invert(1);
    width: 140px; } }

@-skrollr-keyframes navCascadeDown-1 {
  495 {
    top[sqrt]: -80px; }

  525 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-1-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  665 {
    blank: true; }

  740 {
    top: 0%;
    margin-top: 120px; }

  815 {
    blank: true; } }

@-skrollr-keyframes panel-1-out {
  890 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-1 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(1) {
  z-index: 1;
  display: none; }

.bg:nth-of-type(1) .img {
  -skrollr-animation-name: photo-1; }

nav ul ul:nth-of-type(1) {
  max-width: 180px; }

@-skrollr-keyframes navCascadeDown-2 {
  510 {
    top[sqrt]: -80px; }

  540 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-2-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  815 {
    blank: true; }

  890 {
    top: 0%;
    margin-top: 120px; }

  965 {
    blank: true; } }

@-skrollr-keyframes panel-2-out {
  1040 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-2 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(2) {
  z-index: 2;
  display: none; }

.bg:nth-of-type(2) .img {
  -skrollr-animation-name: photo-2; }

nav ul ul:nth-of-type(2) {
  max-width: 125px; }

@-skrollr-keyframes navCascadeDown-3 {
  525 {
    top[sqrt]: -80px; }

  555 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-3-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  965 {
    blank: true; }

  1040 {
    top: 0%;
    margin-top: 120px; }

  1115 {
    blank: true; } }

@-skrollr-keyframes panel-3-out {
  1190 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-3 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(3) {
  z-index: 3;
  display: none; }

.bg:nth-of-type(3) .img {
  -skrollr-animation-name: photo-3; }

nav ul ul:nth-of-type(3) {
  max-width: 185px; }

@-skrollr-keyframes navCascadeDown-4 {
  540 {
    top[sqrt]: -80px; }

  570 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-4-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1115 {
    blank: true; }

  1190 {
    top: 0%;
    margin-top: 120px; }

  1265 {
    blank: true; } }

@-skrollr-keyframes panel-4-out {
  1340 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-4 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(4) {
  z-index: 4;
  display: none; }

.bg:nth-of-type(4) .img {
  -skrollr-animation-name: photo-4; }

nav ul ul:nth-of-type(4) {
  max-width: 155px; }

@-skrollr-keyframes navCascadeDown-5 {
  555 {
    top[sqrt]: -80px; }

  585 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-5-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1265 {
    blank: true; }

  1340 {
    top: 0%;
    margin-top: 120px; }

  1415 {
    blank: true; } }

@-skrollr-keyframes panel-5-out {
  1490 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-5 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(5) {
  z-index: 5;
  display: none; }

.bg:nth-of-type(5) .img {
  -skrollr-animation-name: photo-5; }

nav ul ul:nth-of-type(5) {
  max-width: 105px; }

@-skrollr-keyframes navCascadeDown-6 {
  570 {
    top[sqrt]: -80px; }

  600 {
    top[sqrt]: 0px; } }

@-skrollr-keyframes panel-6-in {
  0 {
    top: 100%;
    margin-top: 0px; }

  1415 {
    blank: true; }

  1490 {
    top: 0%;
    margin-top: 120px; }

  1565 {
    blank: true; } }

@-skrollr-keyframes panel-6-out {
  1640 {
    top: -100%;
    margin-top: 0px; } }

@-skrollr-keyframes photo-6 {
  0 {
    right: 0%;
    top: 0%;
    overflow: hidden; }

  300 {
    right: -100%;
    top: 100%; } }

.objective:nth-of-type(6) {
  z-index: 6;
  display: none; }

.bg:nth-of-type(6) .img {
  -skrollr-animation-name: photo-6; }

@-skrollr-keyframes headerTOCLiftToTop {
  0 {
    top: 13%;
    bottom: 12em; }

  400 {
    top: 35%;
    bottom: 0; } }

@-skrollr-keyframes logoLiftToToCBar {
  0 {
    top: 13%; }

  400 {
    top: 35%; } }

@-skrollr-keyframes navTOCFadeIn {
  150 {
    opacity[swing]: 0; }

  400 {
    opacity[swing]: 1; } }

@-skrollr-keyframes TOCRetractDetails {
  625 {
    top[swing4]: 80px; }

  740 {
    top[swing4]: -120px; } }

@-skrollr-keyframes scrollCueBounce {
  0 {
    bottom[sqrt]: 7%; }

  100 {
    bottom[sqrt]: 4%; }

  199.98 {
    bottom[sqrt]: 10%; }

  300 {
    bottom[sqrt]: 7%; } }

@-skrollr-keyframes scrollCueColorChange {
  0 {
    border-color: hsl(0, 0%, 100%);
    left: 64%; }

  300 {
    border-color: hsl(0, 0%, 20%);
    left: 50%; } }

@-skrollr-keyframes bgCoverupHide {
  0 {
    right[sqrt]: 0%;
    left: 0%; }

  150 {
    right[sqrt]: 100%; } }

@-skrollr-keyframes scrollCueFadeOut {
  0 {
    opacity: 1; }

  200 {
    opacity: 0; } }

@-skrollr-keyframes TOCSetHeaderColor-1 {
  625 {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes TOCSetHeaderColor-2 {
  625 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1); } }

@-skrollr-keyframes TOCSetHeaderColor-3 {
  625 {
    background-color: rgba(235, 177, 12, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes TOCSetHeaderColor-4 {
  625 {
    background-color: rgba(82, 50, 112, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes TOCSetHeaderColor-5 {
  625 {
    background-color: rgba(58, 151, 58, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes TOCSetHeaderColor-6 {
  625 {
    background-color: rgba(29, 84, 153, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes TOCSetHeaderColor-7 {
  625 {
    background-color: rgba(34, 34, 34, 1);
    color: hsl(0, 0%, 100%); }

  740 {
    background-color: rgba(218, 81, 45, 1);
    color: hsl(0, 0%, 20%); } }

@-skrollr-keyframes headerAddBoxShadow {
  625 {
    height: 80px;
    min-width: 1190px;
    box-shadow[sqrt]: rgba(115, 115, 115, 0.7) 0px 0px 0px 0px; }

  740 {
    box-shadow[sqrt]: rgba(115, 115, 115, 0.6) 0px 0px 2px 1px; } }

@-skrollr-keyframes calendarSetHeaderColor {
  475 {
    filter: invert(0); }

  725 {
    filter: invert(0.82); } }

@-skrollr-keyframes logoRestyleToTOCBar {
  0 {
    width[cubedroot]: 220px;
    filter[sqrt]: brightness(92%);
    padding-right[swing3]: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 32px; }

  400 {
    width[cubedroot]: 140px;
    filter[sqrt]: brightness(20%);
    padding-right[swing3]: 30px;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 30px; } }

header {
  -skrollr-animation-name: headerTOCLiftToTop; }

nav > ul {
  -skrollr-animation-name: navTOCFadeIn; }
  nav > ul ul {
    position: absolute;
    z-index: -1; }

.logo a {
  -skrollr-animation-name: logoLiftToToCBar; }

.logo a {
  -skrollr-animation-name: logoRestyleToTOCBar; }

.objective {
  background-color: transparent !important; }

.scrollCue:not(.dummy) {
  -skrollr-animation-name: scrollCueColorChange;
  -skrollr-animation-name: scrollCueFadeOut; }

.bg .coverup .mask {
  -skrollr-animation-name: bgCoverupHide; }

#tagline {
  -skrollr-animation-name: taglineOut; }

#upcoming {
  -skrollr-animation-name: upcomingOut; }
