//ELEMENTS
h2, .h2 {
    @include rs((
        font-size: nth($scale, 4),
        line-height: nth($lineHeights, 4)+4px
    )); 
}


//PLACEHOLDERS + TRAITS
%withDropdownAfter {
    display: block;
    width: 0; 
    height: 0;
    position: absolute;
    top: 50%;
    right: ems(38px + 5px);
    @include rs((
      border-left: 7px solid transparent,
      border-right: 7px solid transparent,
      border-top: 11px solid $navActiveTextColor,
      margin-top: -8px
    ));
    content: ' ';
}

//OBJECTS
.bg {
    @include rs((
        padding-top: 53%
    ));
}

.objective {
  @include rs((
    padding-top: 0,
    paddinb-bottom: 2*$outerPaddingPx //shift all the padding to the bottom, so we scroll right up to photo edge
  ));
}

//INTERACTIONS
.objective .bg {
    @include rs((
        margin-left: -1*$outerPaddingPx,
        margin-right: -1*$outerPaddingPx,
        padding-top: 58%
    ));

    &:not(.starter) + h1 + * {
      @include rs((
        padding-top: $outerPaddingPx
      ));
    }
}

.objective h1 {
    display: none;
}

//UNIQUE
#scrollCue {
    display: none;
}

#nav {
    background-color: nth($sectionColors, 1);
    box-shadow: hsla(0, 0%, 25%, 0.6) 0px 0px 2px 1px;
    overflow: hidden;
    @include rs((
        height: 62px
    ));

    ol {
        @include rs((
            margin-top: 62px
        ))
    }
    li {
        position: relative;
        clear: left;

        br {
            display: none;
        }

        @include rs((
            height: 62px,
            padding-left: 0,
            padding-top: 15px,
        ));
        //to make sure we never overlap calendar + to give space for the dropdown arrow
        padding-right: ems(24px + 38px);

        &::after {
            @extend %withDropdownAfter;
        }

        &.calendar {
            svg {
                width: ems(38px);
                margin-top: ems(-5px);  
                height: ems(50px); 
            }       
            position: absolute;
            top: 0;
            @include rs((
                padding-top: 8px,
                margin-top:  -62px,
                padding-right: $outerPaddingPx
            ));
            right: 0;

            &::after {
                display: none;
            }
        }
    }
}

#nav-dropdown {
    position: fixed;
    z-index: 100;
    list-style-type: none;
    background-color: white;
    box-shadow: hsla(0, 0%, 25%, 0.8) 0px 0px 1px 0px;
    
    @include rs((
        top: 56px,
        left: $outerPaddingPx - 14px,   //left, right, and auto margins will let its left
        right: $outerPaddingPx - 14px,  //margin adjust as needed when there's a max-width
        margin: 0 auto,
        padding: 0px 10px,
        border-radius: 4px
    ));

    a {
        text-decoration: none;
    }

    br {
        display: none;
    }

    li {
        font-size: fontSize(3);
        line-height: ems(nth($lineHeights, 3));
        border-bottom: 1px solid $textColor;
        @include rs((
           padding: 7px 4px 10px
        ));

        &:last-child {
            margin-bottom: 0;
            border-bottom-width: 0;
        }

        &.active {
            background-color: $textColor;
        }
    }
}

#header {
    @include rs((
        padding-top: 62px
    ));
}

#logo {
    height: ems(40px);
    width: ems(40px*$logoAspectRatio);
    @include rs((
        top: 10px,
        padding-right: 24px
    ));

    &::after {
        @extend %withDropdownAfter;
        @include rs((
            margin-top: -7px
        ));
        right: 0;
    }
}

#tagline {
    @include rs((
        padding-top: $outerPaddingPx
    ));
}